﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:124px;
}
#u2681 {
  position:absolute;
  left:10px;
  top:0px;
  width:1049px;
  height:124px;
}
#u2682 {
  position:absolute;
  left:2px;
  top:54px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u2683 {
  position:absolute;
  left:37px;
  top:142px;
  width:99px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2685 {
  position:absolute;
  left:44px;
  top:169px;
  width:398px;
  height:273px;
}
#u2686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2686 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2687 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u2688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2688 {
  position:absolute;
  left:0px;
  top:22px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2689 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u2690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2690 {
  position:absolute;
  left:0px;
  top:44px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2691 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u2692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2692 {
  position:absolute;
  left:0px;
  top:66px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2693 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u2694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2694 {
  position:absolute;
  left:0px;
  top:88px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2695 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u2696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2696 {
  position:absolute;
  left:0px;
  top:110px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2697 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u2698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2698 {
  position:absolute;
  left:0px;
  top:132px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2699 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u2700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:26px;
}
#u2700 {
  position:absolute;
  left:0px;
  top:154px;
  width:393px;
  height:26px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2701 {
  position:absolute;
  left:2px;
  top:9px;
  width:389px;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2702 {
  position:absolute;
  left:0px;
  top:180px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2703 {
  position:absolute;
  left:12px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2704 {
  position:absolute;
  left:0px;
  top:202px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2705 {
  position:absolute;
  left:12px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u2706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2706 {
  position:absolute;
  left:0px;
  top:224px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2707 {
  position:absolute;
  left:12px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u2708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u2708 {
  position:absolute;
  left:0px;
  top:246px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u2709 {
  position:absolute;
  left:12px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u2710 {
  position:absolute;
  left:37px;
  top:464px;
  width:64px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u2711 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3F9DDC;
}
#u2712 {
  position:absolute;
  left:44px;
  top:491px;
  width:40px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3F9DDC;
}
#u2713 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2714 {
  position:absolute;
  left:219px;
  top:351px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2715 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u2716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2716 {
  position:absolute;
  left:269px;
  top:374px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2717 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u2718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2718 {
  position:absolute;
  left:257px;
  top:396px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2719 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u2720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u2720 {
  position:absolute;
  left:1128px;
  top:115px;
  width:270px;
  height:261px;
  font-size:14px;
}
#u2721 {
  position:absolute;
  left:20px;
  top:20px;
  width:230px;
  word-wrap:break-word;
}
#u2722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2722 {
  position:absolute;
  left:234px;
  top:420px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u2723 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
