<section class="drop">
   <div class="cm">
      <div class="bd">
         <div class="clearfix">
            <!-- LEFT NAVIGATION -->
            <!-- <div class="one_fifth">
               <div class="leftnav" id="leftNav">
                  <div class="leftNavInner">
                     <div class="descl">For internal use only</div>
                     <h3>Contents</h3>
                     <ul class="leftul">
                        <li><a title="" href="#">Start A New Funding Request</a></li>
                        <li><a title="" href="#">Saved Funding Requests</a></li>
                     </ul>
                  </div>
               </div> 
            </div>-->
            <div class="four_fifth nmr">
               <h3>Saved Funding Requests</h3>
               <p>Select an existing funding request below to continue or start a new funding request by selecting an account below.</p>
               <div class="planpanel">
                 <div class="panels">
                     <table id="ra-omni-tbl" class="styleB fw mbxlg" summary="Saved Funding Requests">
                        <caption>Saved Funding Requests</caption>
                        <thead>
                          <tr>
                            <th scope="col" class="w25">Last Saved</th>
                            <th scope="col" class="w15">Sub Plan Number</th>
                            <th scope="col" class="w15">Account Number</th>
                            <th scope="col" class="w15">Last Updated By</th>
                            <th scope="col" class="w15">Orchestration ID</th>
                            <th scope="col" class="w15">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="txtb">
                            <td scope="row" class=""><a class="jsExpandCollapse collapsed" title="Select to expand or collapse content below AMERICAN HEART ASSOCIATION, INC. 457B DEFERRED COMPENSATION PLAN" href="#C10003DET"><span class="icon"></span>12/10/2016</a></td>
                            <td class="">IRA 102</td>
                            <td class="">12345667</td>
                            <td class="">K. Smith</td>
                            <td class="">C10003DET</td>
                            <td class=""><a href="#">Select</a></td>
                          </tr>
                          <tr id="C10003DET" class="detail" style="display: none;">
                            <td colspan="6" scope="row" class="nm np">

                              <table id="TIAA-r1-TABLE" class="styleA" summary="Funding Requests">
                                <caption>Funding Requests</caption>
                                <thead>
                                  <tr>
                                    <th scope="col" class="">Company Name</th>
                                    <th scope="col" class="">Investment Type</th>
                                    <th scope="col" class="">Account Number</th>
                                    <th scope="col" class="">Last Updated By</th>
                                    <th scope="col" class="">Orchestration ID</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td scope="row">Fidelity Investments</td>
                                    <td>Brokerage</td>
                                    <td>A51654654</td>
                                    <td>K. Smith</td>
                                    <td>C10003DET</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">Prudential</td>
                                    <td>Annunity</td>
                                    <td>03-98765432</td>
                                    <td>G. Shoop</td>
                                    <td>C10004WES</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">TIAA Direct</td>
                                    <td>CD</td>
                                    <td>6546546545</td>
                                    <td>R. Green</td>
                                    <td>C10002XXB</td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>

                          <tr class="txtb">
                            <td scope="row" class=""><a class="jsExpandCollapse collapsed" title="Select to expand or collapse content below AMERICAN HEART ASSOCIATION, INC. 457B DEFERRED COMPENSATION PLAN" href="#C10004WES"><span class="icon"></span>12/10/2016</a></td>
                            <td class="">IRA 102</td>
                            <td class="">12345667</td>
                            <td class="">K. Smith</td>
                            <td class="">C10004WES</td>
                            <td class=""><a href="#">Select</a></td>
                          </tr>
                          <tr id="C10004WES" class="detail" style="display: none;">
                            <td colspan="6" scope="row" class="nm np">

                              <table id="TIAA-r1-TABLE" class="styleA" summary="Funding Requests">
                                <caption>Funding Requests</caption>
                                <thead>
                                  <tr>
                                    <th scope="col" class="">Company Name</th>
                                    <th scope="col" class="">Investment Type</th>
                                    <th scope="col" class="">Account Number</th>
                                    <th scope="col" class="">Last Updated By</th>
                                    <th scope="col" class="">Orchestration ID</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td scope="row">Fidelity Investments</td>
                                    <td>Brokerage</td>
                                    <td>A51654654</td>
                                    <td>K. Smith</td>
                                    <td>C10003DET</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">Prudential</td>
                                    <td>Annunity</td>
                                    <td>03-98765432</td>
                                    <td>G. Shoop</td>
                                    <td>C10004WES</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">TIAA Direct</td>
                                    <td>CD</td>
                                    <td>6546546545</td>
                                    <td>R. Green</td>
                                    <td>C10002XXB</td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>

                          <tr class="txtb">
                            <td scope="row" class=""><a class="jsExpandCollapse collapsed" title="Select to expand or collapse content below AMERICAN HEART ASSOCIATION, INC. 457B DEFERRED COMPENSATION PLAN" href="#C10002XXB"><span class="icon"></span>12/10/2016</a></td>
                            <td class="">IRA 102</td>
                            <td class="">12345667</td>
                            <td class="">K. Smith</td>
                            <td class="">C10002XXB</td>
                            <td class=""><a href="#">Select</a></td>
                          </tr>
                          <tr id="C10002XXB" class="detail" style="display: none;">
                            <td colspan="6" scope="row" class="nm np">

                              <table id="TIAA-r1-TABLE" class="styleA" summary="Funding Requests">
                                <caption>Funding Requests</caption>
                                <thead>
                                  <tr>
                                    <th scope="col" class="">Company Name</th>
                                    <th scope="col" class="">Investment Type</th>
                                    <th scope="col" class="">Account Number</th>
                                    <th scope="col" class="">Last Updated By</th>
                                    <th scope="col" class="">Orchestration ID</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td scope="row">Fidelity Investments</td>
                                    <td>Brokerage</td>
                                    <td>A51654654</td>
                                    <td>K. Smith</td>
                                    <td>C10003DET</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">Prudential</td>
                                    <td>Annunity</td>
                                    <td>03-98765432</td>
                                    <td>G. Shoop</td>
                                    <td>C10004WES</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">TIAA Direct</td>
                                    <td>CD</td>
                                    <td>6546546545</td>
                                    <td>R. Green</td>
                                    <td>C10002XXB</td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                     </table>
                     <div class="clear"></div>

                    <h3 class="mtxlg">Start a New Funding Request</h3>
                    <a href="fund_an_account.html" class="btn2 " title="Create New Funding Request" role="button">
                      <span>Create New Funding Request</span>
                    </a>
                     <!-- <a href="" class="btn2 createNewFundingRequest">Create New Funding Request</a> -->

                     <div class="accountToFund-wrapper hidden">
                        <select id="selectAccountToFund">
                           <option selected="" value="Please select an account to fund">Please select an account to fund</option>
                           <option value="11104837   IS IRA (Traditional)              Balance $ 101,494.23">11104837&nbsp;&nbsp; IS IRA (Traditional)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Balance $ 101,494.23</option>
                           <option value="11092383   Brokerage IRA (Roth)          Balance $ 73,566.10">11092383&nbsp;&nbsp; Brokerage IRA (Roth)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Balance $ 73,566.10</option>
                           <option value="11982873   Another Account type         Balance $ 720,111.13">11982873&nbsp;&nbsp; Another Account type&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Balance $ 720,111.13</option>
                        </select>
                        <button class="btn" title="Submit"><span>Submit</span></button>
                     </div>
                  </div> <!-- Close panels -->
               </div> <!-- Close planpanel -->

            </div> <!-- Close four_fifths -->
         </div>
      </div>
   </div>
</section>

