<div id="closePopup" class="popup" data-popup="width:550;height:300" title="Cancel this Funding Request - Are you Sure">
  <div class="body">
  		<span>Are you sure you want to cancel this Funding Request? This action cannot be undone</span>

        <div class="btnBar" id="fundformbar"> <a title="Cancel" class="btn3" href="#closePopup"><span>No, Keep this Funding Request</span></a> <a title="Submit" class="btn nigoSubmitBtn" href="#" id="cancelrequest"><span>Cancel this Funding Request</span></a> 
        </div>

  </div>
</div><!-- Popups Ram added in Sprint 13 -->
