<section class="drop">
  <div class="cm">
    <div class="bd">
      <div class="nigoHeader">
        <h3>Funding Request</h3>
        <h5>Fields marked with an asterisk (<span class="required">*</span>) are required.</h5>
        <h4 class="mtxlg mbxs fundingDefaultHeader">Form Review</h4>
        <div class="alertModule nigoError" role="alert">
          <div> <span class="icon"></span>
            <p class="txtb">Please select a reason that this is not in good order (NIGO), or indicate that this is in good order (IGO).</p>
          </div>
        </div>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="unsolicitedformStatus">Mark the status of the funding form(s)<span class="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="unsolicitedform-nigo" name="unsolicitedformStatus" aria-labelledby="unsolicitedformnigo" />
                  <label for="unsolicitedform-nigo">NIGO</label>
                </li>
                <li>
                  <input type="radio" id="unsolicitedform-igo" name="unsolicitedformStatus" aria-labelledby="unsolicitedformigo" />
                  <label for="unsolicitedform-igo">IGO</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="unsolicitedNigo" class="closed">
	  
        <div class="lblFieldPairGroup">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="formStatus">NIGO Resolution<span class="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="#" name="nigoResolution" aria-labelledby="#" />
                  <label for="Awaiting resolution">Awaiting resolution</label>
                </li>
                <li>
                  <input type="radio" id="#" name="nigoResolution" aria-labelledby="#" />
                  <label for="Awaiting forms">Awaiting forms</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panels">
          <div class="hd first hdexpanded">
            <h3> <a id="handlingInstructionsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="expanded"><span class="icon">+</span>Funding Request Details - NIGO</a></h3>
          </div>
          <div class="content bgexpanded" tabindex="0">
            <div class="bd">
              <div class="clearfix">
                <div class="successModule hidden" aria-live="polite" role="alert" id="unnigosuccess1">
                  <div> <span class="icon"></span> <span class="txtb"> You have successfully submitted the funding request. </span> </div>
                    </div>
                <div aria-live="assertive" role="alert" class="alertModule hidden" id="unsolnigovalidationErrmsg">
                  <div> <span class="icon"></span>
                    <h4>Error:</h4>
                    <ul id="unsolnigoerrmessage">
                    </ul>
                  </div>
                </div>
                <div class="one_third">
                  <h3>Client Details</h3>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="companyNameDetail">Name, Address, Phone, and Email</label>
                    </div>
                    <div class="input">
                      <div>Aubrey Graham</div>
                      <div>156 Birch Lane </div>
                      <div>Cambridge, MA 02140 </div>
                      <div>(617) 894-3026 </div>
                      <div>agraham@drakemail.com</div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail">SSN</label>
                    </div>
                    <div class="input"> 012-34-5678 </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail">PIN</label>
                    </div>
                    <div class="input"> 224406 </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail">DOB</label>
                    </div>
                    <div class="input"> 01/01/1979 </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <h3>TIAA Contract</h3>
                      <label for="investmentTypeDetail"> Contract Number<span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <select id="unsolnigocontract_Number">
                        <option value="Select"> Select a contract</option>
                        <option value="401(a)">11104837   IS IRA (Traditional) Balance $ 101,494.23</option>
                        <option value="401(k)"> 12358974   TIAA IRA (Traditional) Balance $   10,324.00</option>
                        <option value="403(b)">12358975   Brokerage IRA (Simple) Balance $ 104,975.71</option>
                      </select>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail"> Plan Number </label>
                    </div>
                    <div class="input">
                      <input type="text" id="planNameunsol1" class="planName" disabled />
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="one_third">
                  <h3>Transfer Details</h3>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="transferValueDetail">Send funds to TIAA via wire transfer?</label>
                    </div>
                    <div class="input">
                      <div class="classAll"> <span>
                        <input type="radio" name="transfer" value="Yes" id="yes_input" checked="checked">
                        Yes</span> <span>
                        <input type="radio" name="transfer" value="No" id="no_input">
                        No</span> </div>
                      <div id="tiaaTransferval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
				  
				  		  
				   <div class="lblFieldPairV">
        <div class="lbl">
          <label id="transferType" class="txtb">Transfer Type<span class="required">*</span></label>
        </div>
        <div class="input">            
          <div class="nonCDContent">
            <select name="transferType" data-required="true" id="transferType">
              <option value="">Select</option>     
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="directRolloverCash">Direct Rollover In-Cash</option>
              <option value="directTransferKind">Direct Transfer In-Kind</option>
              <option value="directRolloverKind">Direct Rollover In-Kind</option>
              <option value="60DayRollover">60-Day Rollover</option>
            </select>
          </div>

          <div class="CDContent hidden">
            <select name="transferType" data-required="true" id="transferType">
              <option value="">Select</option>     
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="60DayRollover">60 Day Rollover</option>
            </select>
          </div>

        </div>
      </div>
      <div class="clear"></div>
	  
	  
                  <!-- Account Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label id="accountType" class="txtb">Account Type (IRC)<span class="required">*</span></label>
        </div>
        <div class="input">
          <select name="accountType" data-required="true" id="accountType" class="accountTypeDirect">
            <option selected="" value="">Please select</option>
            <option value="SEP IRA">SEP IRA</option>
            <option value="Roth IRA">Roth IRA</option>
            <option value="Simple IRA">Simple IRA</option>
            <option value="Traditional IRA">Traditional IRA</option>
          </select>
          <select name="accountType" data-required="true" id="accountType" class="accountTypeOther hidden">
            <option selected="" value="">Please select</option>
            <option value="401(a)">401(a)</option>
            <option value="401(k)">401(k)</option>
            <option value="403(b)">403(b)</option>
            <option value="403(b)(7)">403(b)(7)</option>
            <option value="414(h)">414(h)</option>
            <option value="457(b) Public">457(b) Public</option>
            <option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
            <option value="Keogh Money Purchase">Keogh Money Purchase</option>
            <option value="Roth 401(k)">Roth 401(k)</option>
            <option value="Roth 403(b)">Roth 403(b)</option>
            <option value="Roth457(b)">Roth457(b)</option>
            <option value="Defined Benefit Plan">Defined Benefit Plan</option>
          </select>          
        </div>
      </div>
      <div class="clear"></div>
				  
				  
				  
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="AccountNumber">Account Number</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" value="10000150" id="account_Number">
                      </div>
                      <div id="account_Numberval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="Amount">Amount</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" class="txtr" value="$278,000.00" id="amount">
                      </div>
                      <div id="amountval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="LiquidationInstructions">Liquidation Instructions</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
					      <div>
                          <input type="radio" name="lIquid" value="Liquidate the entire account immediately ." id="LIquid2">
                          Liquidate the entire account immediately </div>
                          <div>
                          <input type="radio" name="lIquid" value="Liquidate part of the account, then transfer the funds to TIAA IRA." id="LIquid1" checked="checked">
                          Liquidate part of the account, then transfer the funds to TIAA IRA </div>
                        
                      </div>
                      <div id="liquidation_Instructionsval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="Allocation Instructions">Allocation Instructions</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <div>Choose how funds will be allocated in this TIAA IRA.</div>
                        <div>
                          <input type="radio" name="alloc" value="Option 1: Use the allocation instructions already on file for the funds that are being transferred." id="allocationInstructions" checked="checked">
                          <span class="txtb">Option 1:</span> <span> Use the allocation instructions already on file for the funds that are being transferred.</span> </div>
                        <div>
                          <input type="radio" name="alloc" value="Option 2: Allocate the funds in this transfer to the default investment option (TIAA Bank Savings)." id="allocationInstructions">
                          <span style="txtb">Option 2:</span> <span>Allocate the funds in this transfer to the default investment option (TIAA Bank Savings).</span> </div>
                      </div>
                      <div id="allocationInstructionsval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="depositCDs">Does this account contain any Cerificates of Deposit (CDs)?</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <div> <span>
                          <input type="radio" id="cdyes_input1" value="Yes" name="depositcds">
                          Yes</span> <span>
                          <input type="radio" id="cdno_input1" value="No" name="depositcds" checked="checked">
                          No</span> </div>
                      </div>
                      <div id="depositcdval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV hidden liquidatecashout1">
                    <div class="lbl">
                      <label for="cashoutyourCD">When would you like to liquidate (cash out) your CD(s)?</label>
                    </div>
                    <div class="input">
                      <div class="immmat classAll">
                        <input type="radio" name="cashoutCD1" value="Immediately1" id="immediately1" checked="checked">
                        <span>Immediately</span>
                        <input type="radio" name="cashoutCD1" value="Wait for maturity" id="waitformaturity1">
                        <span>Wait for maturity</span> </div>
                      <div id="waitfor_Maturity1" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV maturitydateCd1 hidden">
                    <div class="lbl">
                      <label for="cashoutyourCD">What is the maturity date of your CD?</label>
                    </div>
                    <div class="input">
                      <div class="lblFieldPairV">
                        <div class="lbl"> </div>
                        <div class="input">
                          <select id="cd_maturityDate1" class="inputm">
                            <option value="Month">Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                          </select>
                        </div>
                      </div>
                      <div class="lblFieldPairV nth classAll">
                        <div class="lbl"> </div>
                        <div class="input">
                          <select id="cd_Day1">
                            <option value="Day">Day</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                          </select>
                          <label class="screenReader" for="zip2-test">Zip Plus 4</label>
                          <select id="cd_Year1">
                            <option value="Year">Year</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                          </select>
                        </div>
                      </div>
                      <div id="maturity_date" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV maturityDate1 closed">
                    <div class="lbl">
                      <label for="Maturity Date">Maturity Date</label>
                    </div>
                    <div class="input"> 12/31/2016 </div>
                  </div>
                </div>
                <div class="one_third column_last">
                  <h3>Alternate Carrier Details</h3>
                  <div id="carrierDetails1" class="lblFieldPairV">
                    <div class="lbl">
                      <label for="Carrier Name">Alternate Carrier Name</label><span class="required">*</span>
                    </div>
                    <div class="input">
                      <div class="classAll">
 
                        <!--<input type="text" value="" class="inputxlg"  id="carrierName">-->
						 
						<select id="#">
                        <option value="Select"> Select a Carrier Name </option>
                        <option value="Vangaurd">Vangaurd</option>
                        <option value="Merrylinch">Merrylinch</option> 
					  
                        </select>
			 
 
                      </div>
                      <div id="carrierNameval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV addressClose">
                    <div class="lbl">
                      <label for="CarrierMailingAddressandPhone">Alternate Carrier Mailing Address and Phone</label>
                    </div>
                    <div class="input"> <a href="#unsol_formsnigo_addresslookup">Address Lookup</a> </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV addressClose" id="carrierDetails2">
                    <div class="lbl">
                      <label for="addressLine1">Address Line 1</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" value="" id="addressLine1" class="inputxlg" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="lblFieldPairV addressClose">
                    <div class="lbl">
                      <label for="addressLine2">Address Line 2</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" value="" id="addressLine2" class="inputxlg" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div>
                    <div class="lblFieldPairV addressClose">
                      <div class="lbl">
                        <label for="City">City</label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <input type="text" id="city" name="City"  class="" disabled="disabled"/>
                        </div>
                      </div>
                    </div>
                    <div class="lblFieldPairV addressClose">
                      <div class="lbl">
                        <label for="state-test">State</label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <select id="state_Input" disabled="disabled">
                            <option value=""></option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="District Of Columbia">District Of Columbia</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Virgin Islands, US">Virgin Islands, US</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                            <option value="Armed Forces America">Armed Forces America</option>
                            <option value="Armed Forces Europe">Armed Forces Europe</option>
                            <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                            <option value="IL">IL</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV addressClose">
                      <div class="lbl">
                        <label for="zipCode">Zip Code</label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <input type="text" value="" id="zipCode" disabled="disabled">
                        </div>
                        <div id="zipCodeval" class="closeeditVal"></div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV addressOpen closed">
                      <div class="lbl">
                        <label for="CarrierMailingAddressandPhone">Carrier Mailing Address</label>
                      </div>
                      <div class="input">
                        <div id="addressLine1val">3719 Gravois Ave.</div>
                        <div id="addressLine2val">Suite 444</div>
                        <div id="cityval">St. Louis, MO  69554</div>
                        <div id="state_Inputval">St. Louis, MO  69554</div>
                        <div id="zipCodeval">69554</div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="Phone">Phone</label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <input type="text" value="" id="phone" disabled="disabled">
                        </div>
                        <div id="phoneval" class="closeeditVal"></div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="Phone">Is MSG Required</label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <div class="msgyesOrno"> <span>
                            <input type="radio" id="" value="Yes" name="msgRequired">
                            Yes</span> <span>
                            <input type="radio" id="" value="No" name="msgRequired" checked="checked">
                            No</span> </div>
                        </div>
                        <div id="msgRequiredval" class="closeeditVal"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btnBar"> <a role="button" title="Cancel" class="btn btnLink mr"><span>Cancel</span></a> <a id="unsoli_saveSuccess1" href="#" class="btn"><span>Submit</span></a>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
		
      </div>
	  
	  
      <div id="unsolicitedigo" class="closed">
        <div class="panels">
          <div class="hd first hdexpanded">
            <h3> <a id="handlingInstructionsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="expanded"><span class="icon">+</span>Funding Request Details - IGO</a></h3>
          </div>
          <div class="content bgexpanded" tabindex="0">
            <div class="bd">
              <div class="clearfix">
                <div class="successModule hidden" aria-live="polite" role="alert" id="unnigosuccess2">
                  <div> <span class="icon"></span> <span class="txtb"> You have successfully submitted the funding request. </span> </div>
                   </div>
                <div aria-live="assertive" role="alert" class="alertModule hidden" id="validationErrormsg2">
                  <div> <span class="icon"></span>
                    <h4>Error:</h4>
                    <ul id="nongolderrmessage2">
                    </ul>
                  </div>
                </div>
                <div class="one_third">
                  <h3>Client Details</h3>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="companyNameDetail">Name, Address, Phone, and Email</label>
                    </div>
                    <div class="input">
                      <div>Aubrey Graham</div>
                      <div>156 Birch Lane </div>
                      <div>Cambridge, MA 02140 </div>
                      <div>(617) 894-3026 </div>
                      <div>agraham@drakemail.com</div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail">SSN</label>
                    </div>
                    <div class="input"> 012-34-5678 </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail">PIN</label>
                    </div>
                    <div class="input"> 224406 </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail">DOB</label>
                    </div>
                    <div class="input"> 01/01/1979 </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <h3>TIAA Contract</h3>
                      <label for="investmentTypeDetail"> Contract Number<span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <select id="unsoligocontract_Number">
                        <option value="Select"> Select a contract</option>
                        <option value="401(a)">11104837   IS IRA (Traditional) Balance $ 101,494.23</option>
                        <option value="401(k)"> 12358974   TIAA IRA (Traditional) Balance $   10,324.00</option>
                        <option value="403(b)">12358975   Brokerage IRA (Simple) Balance $ 104,975.71</option>
                      </select>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="investmentTypeDetail"> Plan Number <span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <input type="text" id="planNameunsol2" class="planName" disabled />
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="one_third">
                  <h3>Transfer Details</h3>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="transferValueDetail">Send funds to TIAA via wire transfer?<span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll"> <span>
                        <input type="radio" name="sendFunds_transfer" value="Yes" id="yes_input" checked="checked">
                        Yes</span> <span>
                        <input type="radio" name="sendFunds_transfer" value="No" id="no_input">
                        No</span> </div>
                      <div id="tiaaTransferval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
				   
				   <div class="lblFieldPairV">
                   <div class="lbl">
                   <label id="transferType" class="txtb">Transfer Type<span class="required">*</span></label>
                   </div>
                   <div class="input">            
          <div class="nonCDContent">
            <select name="transferType" data-required="true" id="transferType">
              <option value="">Select</option>     
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="directRolloverCash">Direct Rollover In-Cash</option>
              <option value="directTransferKind">Direct Transfer In-Kind</option>
              <option value="directRolloverKind">Direct Rollover In-Kind</option>
              <option value="60DayRollover">60-Day Rollover</option>
            </select>
          </div>

          <div class="CDContent hidden">
            <select name="transferType" data-required="true" id="transferType">
              <option value="">Select</option>     
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="60DayRollover">60 Day Rollover</option>
            </select>
          </div>

        </div>
                   </div>
                   <div class="clear"></div>
				   
                          <!-- Account Type -->
				  <div class="lblFieldPairV">
					<div class="lbl">
					  <label id="accountType" class="txtb">Account Type (IRC)<span class="required">*</span></label>
					</div>
					<div class="input">
					  <select name="accountType" data-required="true" id="accountType" class="accountTypeDirect">
						<option selected="" value="">Please select</option>
						<option value="SEP IRA">SEP IRA</option>
						<option value="Roth IRA">Roth IRA</option>
						<option value="Simple IRA">Simple IRA</option>
						<option value="Traditional IRA">Traditional IRA</option>
					  </select>
					  <select name="accountType" data-required="true" id="accountType" class="accountTypeOther hidden">
						<option selected="" value="">Please select</option>
						<option value="401(a)">401(a)</option>
						<option value="401(k)">401(k)</option>
						<option value="403(b)">403(b)</option>
						<option value="403(b)(7)">403(b)(7)</option>
						<option value="414(h)">414(h)</option>
						<option value="457(b) Public">457(b) Public</option>
						<option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
						<option value="Keogh Money Purchase">Keogh Money Purchase</option>
						<option value="Roth 401(k)">Roth 401(k)</option>
						<option value="Roth 403(b)">Roth 403(b)</option>
						<option value="Roth457(b)">Roth457(b)</option>
						<option value="Defined Benefit Plan">Defined Benefit Plan</option>
					  </select>          
					</div>
				  </div>
      <div class="clear"></div>
				  
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="AccountNumber">Account Number<span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" value="10000150" id="account_Number2">
                      </div>
                      <div id="account_Numberval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="Amount">Amount<span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" class="txtr" value="$278,000.00" id="amount2">
                      </div>
                      <div id="amountval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="LiquidationInstructions">Liquidation Instructions<span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll">
					      <div>
                          <input type="radio" name="lIquid" value="Liquidate the entire account immediately ." id="LIquid2">
                          Liquidate the entire account immediately </div>
                        <div>
                          <input type="radio" name="lIquid" value="Liquidate part of the account, then transfer the funds to TIAA IRA." id="LIquid1" checked="checked">
                          Liquidate part of the account, then transfer the funds to TIAA IRA </div>
                        
                      </div>
                      <div id="liquidation_Instructionsval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="Allocation Instructions">Allocation Instructions</label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <div>Choose how funds will be allocated in this TIAA IRA.<span class="required">*</span></div>
                        <div>
                          <input type="radio" name="alloc" value="Option 1: Use the allocation instructions already on file for the funds that are being transferred." id="allocationInstructions" checked="checked">
                          <span class="txtb">Option 1:</span> <span> Use the allocation instructions already on file for the funds that are being transferred.</span> </div>
                        <div>
                          <input type="radio" name="alloc" value="Option 2: Allocate the funds in this transfer to the default investment option (TIAA Bank Savings)." id="allocationInstructions">
                          <span class="txtb">Option 2:</span> <span>Allocate the funds in this transfer to the default investment option (TIAA Bank Savings).</span> </div>
                      </div>
                      <div id="allocationInstructionsval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="depositCDs">Does this account contain any Cerificates of Deposit (CDs)?<span class="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <div> <span>
                          <input type="radio" id="cdyes_input2" value="Yes" name="depositcds">
                          Yes</span> <span>
                          <input type="radio" id="cdno_input2" value="No" name="depositcds" checked="checked">
                          No</span> </div>
                      </div>
                      <div id="depositcdval" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV hidden liquidatecashout2">
                    <div class="lbl">
                      <label for="cashoutyourCD">When would you like to liquidate (cash out) your CD(s)?</label>
                    </div>
                    <div class="input">
                      <div class="immmat classAll">
                        <input type="radio" name="cashoutCD" value="Immediately2" id="immediately2" checked="checked">
                        <span>Immediately</span>
                        <input type="radio" name="cashoutCD" value="Wait for maturity" id="waitformaturity2">
                        <span>Wait for maturity</span> </div>
                      <div id="waitfor_Maturity2" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV maturitydateCd2 hidden">
                    <div class="lbl">
                      <label for="cashoutyourCD">What is the maturity date of your CD?</label>
                    </div>
                    <div class="input">
                      <div class="lblFieldPairV">
                        <div class="lbl"> </div>
                        <div class="input">
                          <select id="cd_maturityDate2" class="inputm">
                            <option value="Month">Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                          </select>
                        </div>
                      </div>
                      <div class="lblFieldPairV nth classAll">
                        <div class="lbl"> </div>
                        <div class="input">
                          <select id="cd_Day2">
                            <option value="Day">Day</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                          </select>
                          <label class="screenReader" for="zip2-test">Zip Plus 4</label>
                          <select id="cd_Year2">
                            <option value="Year">Year</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                          </select>
                        </div>
                      </div>
                      <div id="maturity_date2" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV maturityDate2 closed">
                    <div class="lbl">
                      <label for="Maturity Date">Maturity Date</label>
                    </div>
                    <div class="input"> 12/31/2016 </div>
                  </div>
                </div>
                <div class="one_third column_last">
                  <h3>Alternate Carrier Details</h3>
                  <div id="carrierDetails1" class="lblFieldPairV">
                    <div class="lbl">
                      <label for="Carrier Name">Alternate Carrier Name<span class="required" title="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" value="" class="inputxlg"  id="carrierName2">
                      </div>
                      <div id="carrierNameval2" class="closeeditVal"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV addressClose">
                    <div class="lbl">
                      <label for="CarrierMailingAddressandPhone">Alternate Carrier Mailing Address and Phone</label>
                    </div>
                    <div class="input"> <a href="#unsol_formsigo_addresslookup">Address Lookup</a> </div>
                  </div>
                  <div class="clear"></div>
                  <div class="lblFieldPairV addressClose" id="carrierDetails2">
                    <div class="lbl">
                      <label for="addressLine1">Address Line 1<span class="required" title="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" value="" id="addressLine11" class="inputxlg" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="lblFieldPairV addressClose">
                    <div class="lbl">
                      <label for="addressLine2">Address Line 2<span class="required" title="required">*</span></label>
                    </div>
                    <div class="input">
                      <div class="classAll">
                        <input type="text" value="" id="addressLine22" class="inputxlg" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div>
                    <div class="lblFieldPairV addressClose">
                      <div class="lbl">
                        <label for="City">City<span class="required" title="required">*</span></label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <input type="text" id="city2" name="City"  class="" disabled="disabled"/>
                        </div>
                      </div>
                    </div>
                    <div class="lblFieldPairV addressClose">
                      <div class="lbl">
                        <label for="state-test">State<span class="required" title="required">*</span></label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <select id="state_Input2" disabled="disabled">
                            <option value="">&nbsp;</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="District Of Columbia">District Of Columbia</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Virgin Islands, US">Virgin Islands, US</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                            <option value="Armed Forces America">Armed Forces America</option>
                            <option value="Armed Forces Europe">Armed Forces Europe</option>
                            <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                            <option value="IL">IL</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV addressClose">
                      <div class="lbl">
                        <label for="zipCode">Zip Code<span class="required">*</span></label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <input type="text" value="" id="zipCode2" disabled="disabled">
                        </div>
                        <div id="zipCodeval" class="closeeditVal"></div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV addressOpen closed">
                      <div class="lbl">
                        <label for="CarrierMailingAddressandPhone">Carrier Mailing Address</label>
                      </div>
                      <div class="input">
                        <div id="addressLine1val">3719 Gravois Ave.</div>
                        <div id="addressLine2val">Suite 444</div>
                        <div id="cityval">St. Louis, MO  69554</div>
                        <div id="state_Inputval">St. Louis, MO  69554</div>
                        <div id="zipCodeval">69554</div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="Phone">Phone<span class="required phoneRequired">*</span></label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <input type="text" value="" id="phone2" disabled="disabled">
                        </div>
                        <div id="phoneval" class="closeeditVal"></div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="Phone">Is MSG Required<span class="required">*</span></label>
                      </div>
                      <div class="input">
                        <div class="classAll">
                          <div class="msgyesOrno"> <span>
                            <input type="radio" id="" value="Yes" name="msgRequired">
                            Yes</span> <span>
                            <input type="radio" id="" value="No" name="msgRequired" checked="checked">
                            No</span> </div>
                        </div>
                        <div id="msgRequiredval" class="closeeditVal"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btnBar"> <a role="button" title="Cancel" class="btn btnLink mr"><span>Cancel</span></a> <a id="unsoli_saveSuccess2" href="#" class="btn"><span>Submit</span></a>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
