
<div class="panels transferDetailWrapper">
<div class="hd first">
  <h3> <a href="javascript:void(0)" class="expanded"> <span class="icon">+</span>Funding Source Detail</a></h3>
</div>
<div class="content bgexpanded">
  <div class="bd">
    <div class="clearfix">
      <div class="one_third">
        <h3> Client Details </h3>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Name</label>
          </div>
          <div class="input"> Aubrey Graham </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Address</label>
          </div>
          <div class="input"> 156 Birch Lane <br/>
            Cambridge, MA 02140 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Phone</label>
          </div>
          <div class="input"> (617) 894-3026 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Email</label>
          </div>
          <div class="input"> agraham@drakemail.com </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> SSN/TIN </label>
          </div>
          <div class="input"> 012-34-5678 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> PIN</label>
          </div>
          <div class="input"> 224406 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> DOB</label>
          </div>
          <div class="input"> 01/01/1979 </div>
        </div>
        <div class="clear"></div>
        <h4>TIAA Contract Information</h4>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Contract Number</label>
          </div>
          <div class="input"> 99-00001 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Plan Name</label>
          </div>
          <div class="input"> TIAA IRA - Traditiona </div>
        </div>
      </div>
      <div class="one_third">
        <h3>Transfer Details</h3>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Send funds to TIAA via wire transfer? </label>
          </div>
          <div class="input"> Yes </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> IRC Code</label>
          </div>
          <div class="input"> 401(k) Retirement Plan </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Account Number</label>
          </div>
          <div class="input"> 10000150 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Amount</label>
          </div>
          <div class="input"> $278,000.00 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Liquidation Instructions </label>
          </div>
          <div class="input"> Liquidate the entire account immediately </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Allocation Instructions</label>
          </div>
          <div class="input"> Option 2: Allocate the funds in this transfer to the default investment option (TIAA Bank Savings). </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Does this account contain any Cerificates of Deposit (CDs)?</label>
          </div>
          <div class="input"> Yes </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> When would you like to liquidate (cash out) your CD(s)? </label>
          </div>
          <div class="input"> Wait for maturity </div>
        </div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Maturity Date</label>
          </div>
          <div class="input"> 12/31/2016 </div>
        </div>
      </div>
      <div class="one_third column_last">
        <h3>Alternate Carrier Details</h3>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Alt Carrier Name </label>
          </div>
          <div class="input"> Midwest Investment Trust </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Alt Carrier Mailing Address and Phone </label>
          </div>
          <div class="input"> 3719 Gravois Ave.<br />
            Suite 444 <br/>
            St. Louis, MO  69554 </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for=""> Alt Carrier Phone </label>
          </div>
          <div class="input"> (314) 999-1212 </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Funding Forms Review -->
<div class="hd">
  <!-- <span class="indicatorGreen flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Complete</span> -->
  <h3> <a id="handlingInstructionsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="collapsed"><span class="icon">+</span>Funding Forms Review</a></h3>
</div>
<div class="content" tabindex="0">
  <div class="bd">
    <div id="addformsMain" class="">
      <!-- NIGO TSS -->
      <div class="nigoTSS mblg hidden">
        <h4>Forms Originally Marked as NIGO by J.Schmoe - 8/21/2016</h4>
        <h5>NIGO Reasons</h5>
        <ul>
          <li>Reason 1</li>
          <li>Reason 2</li>
          <li>Reason 3</li>
        </ul>
        <h5 class="nm">NIGO Resolution Notes</h5>
        <textarea rows="6" cols="60" id="nigoTSSNotes" name="nigoTSSNotes" disabled="disabled">Spoke with the client and they said they would XYZ.</textarea>
        <div class="bsep mtm"></div>
      </div>
      <!-- NIGO Header -->
      <div class="nigoHeader">
        <h4 class="mtxlg mbxs fundingDefaultHeader">Additional Forms Review</h4>
        <div class="alertModule nigoError" role="alert">
          <div> <span class="icon"></span>
            <p class="txtb">Please select a reason that this is not in good order (NIGO), or indicate that this is in good order (IGO).</p>
          </div>
        </div>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="formStatus">Please indicate the status of the forms.<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="duplicate_form" name="formStatus" aria-labelledby="formStatus"  />
                  <label for="formStatus-nigo">Duplicate Form (no further action)</label>
                </li>
                <li>
                  <input type="radio" id="formStatus-nigo" name="formStatus" aria-labelledby="formStatus" />
                  <label for="formStatus-nigo">NIGO</label>
                </li>
                <li>
                  <input type="radio" id="formStatus-igo" name="formStatus" aria-labelledby="formStatus" />
                  <label for="formStatus-igo">IGO</label>
                </li>
                <li>
                  <input type="radio" id="formStatus-igoMsg" name="formStatus" aria-labelledby="formStatus" />
                  <label for="formStatus-igoMsg">IGO and send for MSG</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div role="alert" aria-live="polite" class="infoModule hidden" id="formreviewalert">
        <div> <span class="icon"></span> <span class="txtb"> Note: </span>If any additional forms are NIGO, reference the original Forms Review task to update the NIGO reasons and select Duplicate Form. </div>
        <a href="#" class="closeLink"> <span class="icon">x</span> </a> </div>
      <div id="batchnumber" class="closed mb"><span class="txtb">Batch number - </span> Enter the batch number of the Additional Forms received<span class="required" title="required">*</span>
        <input type="text" class="inputs" />
      </div>
      <!-- NIGO Selected -->
      <div class="nigo_wrapper hidden">
        <div class="lblFieldPairGroup">
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="loa">Is this a wealth client?<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="wealthClient-yes" name="loa" aria-labelledby="loa">
                  <label for="wealthClient-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="wealthClient-no" name="loa" aria-labelledby="loa">
                  <label for="wealthClient-no">No</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h5>Please indicate which NIGO issues exist.<span class="required" title="required">*</span></h5>
       
	   
				  <div class="fll mrxlg prxlg">  
            <ul class="lblSelectPair">
              <li>
                <input type="checkbox" aria-labelledby="incorrectOrMissing" name="incorrectOrMissing" id="incorrectOrMissing">
                <label for="incorrectOrMissing">Incorrect or missing forms/paperwork</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingPages" name="missingPages" id="missingPages">
                <label for="missingPages">Missing pages</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="traFormOutdated" name="traFormOutdated" id="traFormOutdated">
                <label for="traFormOutdated">TRA form is outdated</label>
              </li>
             
            
              <li>
                <input type="checkbox" aria-labelledby="traFormMissing" name="traFormMissing" id="traFormMissing">
                <label for="traFormMissing">TRA form missing date</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingPersonalInfo" name="missingPersonalInfo" id="missingPersonalInfo">
                <label for="missingPersonalInfo">Missing or incorrect personal information</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingIRCCode" name="missingIRCCode" id="missingIRCCode">
                <label for="missingIRCCode">Missing or incorrect IRC code</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="liquidationDiscrepancy" name="liquidationDiscrepancy" id="liquidationDiscrepancy">
                <label for="liquidationDiscrepancy">Liquidation instructions discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingStatement" name="missingStatement" id="missingStatement">
                <label for="missingStatement">Missing statement</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="outdatedStatement" name="outdatedStatement" id="outdatedStatement">
                <label for="outdatedStatement">Outdated statement</label>
              </li>
			  <li>
                <input type="checkbox" aria-labelledby="nameMissing" name="nameMissing" id="nameMissing">
                <label for="nameMissing">Clients name missing from statement</label>
              </li>
            </ul>
          </div>
          <div class="fll mlxlg  plxlg">
            <ul class="lblSelectPair">
           
              <li>
                <input type="checkbox" aria-labelledby="nameDiscrepancy" name="nameDiscrepancy" id="nameDiscrepancy">
                <label for="nameDiscrepancy">Name discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="accountNumberDiscrepancy" name="accountNumberDiscrepancy" id="accountNumberDiscrepancy">
                <label for="accountNumberDiscrepancy">Account number discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingEmployerAuth" name="missingEmployerAuth" id="missingEmployerAuth">
                <label for="missingEmployerAuth">Missing employer authorization</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingSpousalWaiver" name="missingSpousalWaiver" id="missingSpousalWaiver">
                <label for="missingSpousalWaiver">Missing spousal waiver</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="incorrectContract" name="incorrectContract" id="incorrectContract">
                <label for="incorrectContract">Incorrect contract</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingEnrollment" name="missingEnrollment" id="missingEnrollment">
                <label for="missingEnrollment">Missing enrollment</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="planRules" name="planRules" id="planRules">
                <label for="planRules">Plan rules</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="termDate" name="termDate" id="termDate">
                <label for="termDate">Term date</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="otherNIGOReasons" name="otherNIGOReasons" id="otherNIGOReasons">
                <label for="otherNIGOReasons">Other NIGO reason</label>
                <div class="otherNIGOComment_wrapper hidden">
                  <p class="nm pts">Please provide the "Other" reason.<span title="required" class="required">*</span></p>
                  <textarea name="otherNIGOComment" id="otherNIGOComment" cols="30" rows="4"></textarea>
                </div>
              </li>
            </ul>
          </div>
		
      </div>
      <!-- NIGO Submited -->
      <div class="nigoSubmitted hidden">
        <div class="successModule visible" aria-live="polite" role="alert">
          <div> <span class="icon"></span>
            <p class="txtb">You have indicated these forms as NIGO and sent an alert to the Money Movement Specialist. <a href="#" class="hiddenRST flr">For Prototype Only - RST</a></p>
          </div>
        </div>
        <h5>NIGO Reasons
          <!-- <a href="#" class="nigoEditBtn">EDIT</a> -->
        </h5>
        <ul>
          <li>Missing Statement</li>
          <li>Other Reason:  This one just smells funny.</li>
        </ul>
        <div class="btnBar mrs prxs"> <a href="#" class="btn nigoExitBtn" title="Exit"><span>Exit</span></a> </div>
      </div>
      <!-- NIGO RST Confirm -->
      <div class="nigoRSTConfirm hidden">
        <h4>This funding was declared NIGO</h4>
        <h5>NIGO Reasons</h5>
        <ul>
          <li>Reason 1</li>
          <li>Reason 2</li>
          <li>Reason 3</li>
        </ul>
        <div class="successModule visible" aria-live="polite" role="alert">
          <div> <span class="icon"></span>
            <h4>The documents have been marked as awaiting</h4>
          </div>
        </div>
        <a href="" class="printLink"><span class="icon"></span>Print Forms</a>
        <div class="btnBar mrs prxs"> <a href="#" class="btn" title="Exit"><span>Exit</span></a> </div>
      </div>
      <!-- NIGO TSS -->
      <div class="nigoTSSConfirm hidden">
        <h4>This funding was declared NIGO</h4>
        <h5>NIGO Reasons</h5>
        <ul>
          <li>Reason 1</li>
          <li>Reason 2</li>
          <li>Reason 3</li>
        </ul>
        <div class="successModule visible" aria-live="polite" role="alert">
          <div> <span class="icon"></span> <a href="#" class="hiddenTSS flr txtb">For Prototype Only - TSS</a>
            <p class="txtb">You have indicated this NIGO as being resolved.  This task has been sent to the TSS for review.</p>
          </div>
        </div>
        <a href="" class="printLink"><span class="icon"></span>Print Forms</a>
        <div class="btnBar mrs prxs"> <a href="#" class="btn" title="Exit"><span>Exit</span></a> </div>
      </div>
      <!-- IGO Selected -->
      <div class="igo_wrapper hidden xxwide">
        <div class="lblFieldPair closed">
          <div class="lbl">
            <label for="loa">Batch number</label>
          </div>
          <div class="input">
            <input type="text" class="inputs" />
          </div>
        </div>
        <h5>Are any additional forms required?</h5>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="loa">LOA<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="loa-yes" name="loa" aria-labelledby="loa" />
                  <label for="loa-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="loa-no" name="loa" aria-labelledby="loa" />
                  <label for="loa-no">No</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="CorporateResolutionLetter">Corporate Resolution Letter<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="CorporateResolutionLetter-yes" name="CorporateResolutionLetter" aria-labelledby="CorporateResolutionLetter" />
                  <label for="CorporateResolutionLetter-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="CorporateResolutionLetter-no" name="CorporateResolutionLetter" aria-labelledby="CorporateResolutionLetter" />
                  <label for="CorporateResolutionLetter-no">No</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h4 class="mbxs mtxlg">Third Party Authorization Required</h4>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="spousalWaiver">Spousal Waiver<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="spousalWaiver-yes" name="spousalWaiver" aria-labelledby="spousalWaiver" />
                  <label for="spousalWaiver-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="spousalWaiver-no" name="spousalWaiver" aria-labelledby="spousalWaiver" />
                  <label for="spousalWaiver-no">No</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="employerAuthorization">Employer authorization<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="employerAuthorization-yes" name="employerAuthorization" aria-labelledby="employerAuthorization" />
                  <label for="employerAuthorization-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="employerAuthorization-no" name="employerAuthorization" aria-labelledby="employerAuthorization" />
                  <label for="employerAuthorization-no">No</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="otherAuth">Other<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="otherAuth-yes" name="otherAuth" aria-labelledby="otherAuth" />
                  <label for="otherAuth-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="otherAuth-no" name="otherAuth" aria-labelledby="otherAuth" />
                  <label for="otherAuth-no">No</label>
                </li>
              </ul>
            </div>
            <input type="text" id="otherInput" name="otherInput" class="inputxxlg hidden"  placeholder="" />
          </div>
        </div>
        <h4 class="mbxs mtxlg">Forms Required</h4>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="tiaa">TIAA<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="tiaa-yes" name="tiaa" aria-labelledby="tiaa" />
                  <label for="tiaa-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="tiaa-no" name="tiaa" aria-labelledby="tiaa" />
                  <label for="tiaa-no">No</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="altCarrier">ALT Carrier<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="altCarrier-yes" name="altCarrier" aria-labelledby="altCarrier" />
                  <label for="altCarrier-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="altCarrier-no" name="altCarrier" aria-labelledby="altCarrier" />
                  <label for="altCarrier-no">No</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="altCarrier">Does Alt Carrier accept copies? <span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="altCarriercopy-yes" name="altCarriercopy" aria-labelledby="altCarrier" />
                  <label for="altCarrier-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="altCarriercopy-no" name="altCarriercopy" aria-labelledby="altCarrier" />
                  <label for="altCarrier-no">No</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPair mtxlg">
            <div class="lbl">
              <label for="overnight">Overnight mail to Alt Carrier required?<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="overnight-yes" name="overnight" aria-labelledby="overnight" />
                  <label for="overnight-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="overnight-no" name="overnight" aria-labelledby="overnight" />
                  <label for="overnight-no">No</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPair">
            <div class="lbl">
              <label for="overnight">Should this transfer be faxed?<span class="required" title="required">*</span></label>
            </div>
            <div class="input"  id="tranferfax">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="tranfer-yes" name="docuemnttranfer" aria-labelledby="docuemnttranfer" />
                  <label for="overnight-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="tranfer-no" name="docuemnttranfer" aria-labelledby="docuemnttranfer" />
                  <label for="overnight-no">No</label>
                </li>
                  <li>
                      <input type="text" class="inputs hidden" id="faxtext"/>
                  </li>                
              </ul>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <h4 class="mbxs">Instructions</h4>
        <p class="imagingTeamInstructions nm">Provide instructions for the Imaging Transfers Team to complete alternate carrier package period.</p>
        <textarea rows="6" cols="71" id="instructionsImaging" name="instructionsImaging" class="mtxs"></textarea>
        <div class="lblFieldPair mtxlg">
          <div class="lbl">
            <label for="overnight">Does this transaction require any updates to the Correspondence Request?<span class="required" title="required">*</span></label>
          </div>
          <div class="input">
            <ul class="lblinline">
              <li>
                <input type="radio" id="correspondence-yes" name="Correspondence Request" aria-labelledby="CorrespondenceRequest" />
                <label for="overnight-yes">Yes</label>
              </li>
              <li>
                <input type="radio" id="correspondence-no" name="Correspondence Request" aria-labelledby="CorrespondenceRequest" />
                <label for="overnight-no">No</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- IGO Submitted -->
      <div class="igoSubmitted hidden">
        <div class="successModule visible" aria-live="polite" role="alert">
          <div> <span class="icon"></span>
            <h4>IGO : This funding source was declared IGO and will be sent for MSG</h4>
            <ul>
              <li>On March 21, 2015 by MSmith</li>
            </ul>
          </div>
        </div>
        <h5>Additional Required Forms
          <!-- <a href="#" class="igoEditBtn">EDIT</a> -->
        </h5>
        <ul>
          <li>LOA</li>
          <li>Corporate Resolution Letter</li>
          <li>Employer Authorization</li>
          <li>Third Party Forms</li>
        </ul>
        <div class="btnBar mrs prxs"> <a href="#" class="btn igoExitBtn" title="Exit"><span>Exit</span></a> </div>
      </div>
    </div>
    <!--dddd--->
    <div id="reviewStatusd" class="closed">
      
      <div class="no_Further closed">
        <div class="successModule visible" aria-live="polite" role="alert">
            <span class="icon"></span>
            <div>
              <h4 class="fll">No Further Action:</h4>
              <span class="ml">This funding source was declared Duplicate/Additional Form - No Further Action.</span>
             
            </div>
            <div>
              <ul>
                <li>On 10/01/2016 by A. Banks</li>
              </ul>
            </div>
           
        </div>
      </div>
      <div class="nigoView closed">
        <div class="nigoView1 closed">
          <div class="successModule visible" aria-live="polite" role="alert">
             <span class="icon"></span>
              <div>
                <h4 class="fll">No Further Action:</h4>
                <span class="ml">This funding source was declared Duplicate/Additional Form - No Further Action.</span>
                <div class="flr txtb txt14"><a id="prototypeOnlyrstnigo_view" href="#">For Prototype Only - RST</a> </div>
              </div>
              <div>
                <ul>
                  <li>On 10/01/2016 by A. Banks</li>
                </ul>
              
            </div>
          </div>
          <h4>NIGO Reasons</h4>
          <ul class="">
            <li>Dynamic reason A</li>
            <li>Dynamic reason B</li>
          </ul>
        </div>
        <div class="nigoView2 closed">
          <h4>This funding was declared NIGO</h4>
          <h4>Fields marked with an asterisk (<span class="required">*</span>) are required.</h4>
          <h4>NIGO Reasons</h4>
          <ul class="">
            <li>Dynamic reason A</li>
            <li>Dynamic reason B</li>
          </ul>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label id="nextSteps" class="txtb">Next Steps<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <fieldset>
              <legend><span class="screenReader">Next Steps</span></legend>
              <ul class="nlist">
                <li>
                  <input type="radio" id="nextSteps-resend" name="nextSteps" aria-labelledby="nextSteps" />
                  <label for="nextSteps-resend">Resend forms</label>
                </li>
                <li>
                  <input type="radio" id="nextSteps-awaitingForms" name="nextSteps" aria-labelledby="nextSteps" />
                  <label for="nextSteps-awaitingForms">Awaiting forms</label>
                </li>
                <li>
                  <input type="radio" id="nextSteps-awaitingDocs" name="nextSteps" aria-labelledby="nextSteps" />
                  <label for="nextSteps-awaitingDocs">Awaiting documents</label>
                </li>
                <li>
                  <input type="radio" id="nextSteps-resolve" name="nextSteps" aria-labelledby="nextSteps" />
                  <label for="nextSteps-resolve">Resolve NIGO</label>
                </li>
              </ul>
              </fieldset>
            </div>
          </div>
          <div class="clear"></div>
          <!-- Resend Forms -->
          <div class="resend_wrapper rst_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="deliveryMethod" class="txtb">Please Select a Delivery Method<span class="required" title="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                <legend><span class="screenReader">Please Select a Delivery Method</span></legend>
                <ul class="nlist">
                  <li>
                    <input type="radio" id="deliveryMethod-eDelivery" name="deliveryMethod" aria-labelledby="deliveryMethod" />
                    <label for="deliveryMethod-eDelivery">eDelivery</label>
                  </li>
                  <li class="closed">
                    <input type="radio" id="deliveryMethod-release" name="deliveryMethod" aria-labelledby="deliveryMethod" />
                    <label for="deliveryMethod-release">Release to Fufillment</label>
                  </li>
                  <li>
                    <input type="radio" id="deliveryMethod-print" name="deliveryMethod" aria-labelledby="deliveryMethod" />
                    <label for="deliveryMethod-print">Print local</label>
                  </li>
                  <li>
                </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>
            <p class="nm pts txtb">Notes<span class="required" title="required">*</span></p>
            <textarea rows="6" cols="60" id="deliveryMethodNotes" name="deliveryMethodNotes"></textarea>
          </div>
          <!-- Awaiting Forms -->
          <div class="awaitingForms_wrapper rst_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="returnFormsMethod" class="txtb">What method will the customer use to return the forms to TIAA?<span class="required" title="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                <legend><span class="screenReader">What method will the customer use to return the forms to TIAA?</span></legend>
                <ul class="nlist">
                  <li>
                    <input type="radio" id="returnFormsMethod-upload" name="returnFormsMethod" aria-labelledby="returnFormsMethod" />
                    <label for="returnFormsMethod-upload">Upload</label>
                  </li>
                  <li>
                    <input type="radio" id="returnFormsMethod-mail" name="returnFormsMethod" aria-labelledby="returnFormsMethod" />
                    <label for="returnFormsMethod-mail">Mail (Please select this if wet signature is required)</label>
                  </li>
                  <li>
                    <input type="radio" id="returnFormsMethod-fax" name="returnFormsMethod" aria-labelledby="returnFormsMethod" />
                    <label for="returnFormsMethod-fax">Fax</label>
                  </li>
                  <li>
                </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>
            <p class="nm pts txtb">Awaiting Forms Note<span class="required" title="required">*</span></p>
            <textarea rows="6" cols="60" id="returnFormsMethodNote" name="returnFormsMethodNote"></textarea>
            
          </div>
          <!-- Awaiting Documents -->
          <div class="awaitingDocs_wrapper rst_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="returnDocsMethod" class="txtb">What method will the customer use to return the documents to TIAA?<span class="required" title="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                <legend><span class="screenReader">What method will the customer use to return the documents to TIAA?</span></legend>
                <ul class="nlist">
                  <li>
                    <input type="radio" id="returnDocsMethod-upload" name="returnDocsMethod" aria-labelledby="returnDocsMethod" />
                    <label for="returnDocsMethod-upload">Upload</label>
                  </li>
                  <li>
                    <input type="radio" id="returnDocsMethod-mail" name="returnDocsMethod" aria-labelledby="returnDocsMethod" />
                    <label for="returnDocsMethod-mail">Mail (Please select this if wet signature is required)</label>
                  </li>
                  <li>
                    <input type="radio" id="returnDocsMethod-fax" name="returnDocsMethod" aria-labelledby="returnDocsMethod" />
                    <label for="returnDocsMethod-fax">Fax</label>
                  </li>
                  <li>
                </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>
            <p class="nm pts txtb">Awaiting Documents Note<span class="required" title="required">*</span></p>
            <textarea rows="6" cols="60" id="returnDocsMethodNote" name="returnDocsMethodNote"></textarea>
            
          </div>
          <!-- Resolve Content -->
          <div class="resolve_wrapper rst_wrapper hidden">
            <p class="nm pts txtb">How has the NIGO issue been resolved?<span class="required" title="required">*</span></p>
            <textarea rows="6" cols="60" id="resolvedNIGONote" name="resolvedNIGONote"></textarea>
            
          </div>
        </div>
      </div>
      <div class="igo_View closed">
        <div class="successModule visible" aria-live="polite" role="alert">
           <span class="icon"></span>
            <div>
              <h4 class="fll">IGO:</h4>
              <span class="ml">This funding source was declared IGO.</span> </div>
            <div>
              <ul>
                <li>On 10/01/2016 by A. Banks.</li>
              </ul>
            </div>
          
        </div>
        <h4>Additional Required Forms</h4>
        <ul>
          <li>LOA</li>
          <li>Corporate Resolution Letter</li>
          <li>Employer Authorization</li>
          <li>Third Party Forms</li>
        </ul>
      </div>
      <div class="igo_msg_View closed">
        <div class="successModule visible" aria-live="polite" role="alert">
            <span class="icon"></span>
            <div>
              <h4 class="fll">IGO:</h4>
              <span class="ml">This funding source was declared IGO and send to MSG.</span> </div>
            <div>
              <ul>
                <li>On 10/01/2016 by A. Banks.</li>
              </ul>
            
          </div>
        </div>
        <h4>Additional Required Forms</h4>
        <ul>
          <li>LOA</li>
          <li>Corporate Resolution Letter</li>
          <li>Employer Authorization</li>
          <li>Third Party Forms</li>
        </ul>
      </div>
    </div>
    <div class="btnBar mrs prxs closed" id="addFormBtn2"> <a href="#closePopup" class="mrm btn3" title="Cancel Funding Request
	"><span>Cancel Funding Request</span></a> <a href="#" class="btn igoSubmitBtn4" title="Submit" id="addformsClientSub"><span>Submit</span></a> </div>
  </div>
</div>
