<section class="drop">
  <div class="cm">
    <div class="bd">
      <h2><span class="icsuccess">Success Icon</span> This funding request has been successfully submitted.</h2>

      <p>Orchestration ID: YTZ123456789</p>
      <h4>Next Steps</h4>
      <p><a href="" class="printLink"><span class="icon mrlg"></span>Print the Funding forms</a> - Send to the client for his or her review and signature.</p>
      <a href="fund_an_account.html" class="txtb">Start another funding request</a>
    </div>
  </div> 
</section>