<section class="drop">
  <div class="cm">
    <div class="bd">
        <h1>Funding Canceled</h1>
        <h3>Carrier Name</h3>
        <div>Midwest Investment Truest</div>

        <div class="mt">The tranfer request has been canceled. The case is now in Cancel status in Case manager</div>

        <div class="btnBar" >
          <a title="Submit" class="btn" href="#" ><span>Exit</span></a> 
        </div>

    </div>
  </div>
</section>
