<section class="drop">
  <div class="cm">
    <div class="bd">
      <h2><span class="icsuccess">Success Icon</span> Congratulations.  The funding request has successfully been submitted.</h2>
      <h4>Next Steps</h4>
      <p>Inform the client that they will receive an email with a link to log into their MyTC account to sign their documents.</p>
      <a href="" class="txtb">Select Allocations for this Account</a>
    </div>
  </div> 
</section>