<section class="drop">
  <div class="cm">
    <div class="bd">

      <!-- Error Alerts -->
      <div id="sourceDetailErrors" class="alertModule">
        <div>
          <span class="icon"></span>
          <h4 role="alert">Error:</h4>
          <ul>
            <!-- <li role="alert" id="companyNameDetail-err">Select a Company Name</li>
            <li role="alert" id="transferValueDetail-err">Provide a Transfer Value</li> -->
          </ul>
        </div>
      </div>


      <fieldset id="inputDetails">
        <legend class="screenReader">Source Details</legend>
        <div class="clearfix">
          <h3 class="nmt">Source Detail</h3>
          <div class="clearfix">
            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="companyNameDetail">Company Name<span class="required">*</span></label>
                </div>
                <div class="input">
                  <select id="companyNameDetail" class="inputxlg" data-required="true">
                    <option value="">Select Company Name</option>
                    <option value="Barclays Capital">Barclays Capital</option>
                    <option value="Charles Schwab">Charles Schwab</option>
                    <option value="Citibank">Citibank</option>
                    <option value="Credit Suisse">Credit Suisse</option>
                    <option value="Deutsche Bank">Deutsche Bank</option>
                    <option value="Etrade">Etrade</option>
                    <option value="Fidelity Investments">Fidelity Investments</option>
                    <option value="Goldman Sachs">Goldman Sachs</option>
                    <option value="Hilliard Lyons">Hilliard Lyons</option>
                    <option value="HSBC">HSBC</option>
                    <option value="Janney Montgomery Scott">Janney Montgomery Scott</option>
                    <option value="JP Morgan Chase">JP Morgan Chase</option>
                    <option value="Kaspick">Kaspick</option>
                    <option value="Merrill Lynch Morgan Stanley">Merrill Lynch Morgan Stanley</option>
                    <option value="Northern Trust">Northern Trust</option>
                    <option value="Nuveen lnvestments">Nuveen lnvestments</option>
                    <option value="People’s Securities">People’s Securities</option>
                    <option value="Raymond James">Raymond James</option>
                    <option value="RBC Capital Markets">RBC Capital Markets</option>
                    <option value="Scottrade">Scottrade</option>
                    <option value="Smith Barney">Smith Barney</option>
                    <option value="State Street Global Advisors">State Street Global Advisors</option>
                    <option value="Stifel Nicolaus">Stifel Nicolaus</option>
                    <option value="TD Ameritrade">TD Ameritrade</option>
                    <option value="TIAA-CREF">TIAA-CREF</option>
                    <option value="T Rowe Price">T Rowe Price</option>
                    <option value="UBS Financial">UBS Financial</option>
                    <option value="USAA Brokerage">USAA Brokerage</option>
                    <option value="Vanguard">Vanguard</option>
                    <option value="Wells Fargo">Wells Fargo</option>
                    <option value="Other">Other</option>
                  </select>
                  <input type="text" id="otherCompany" name="otherCompany" class="inputm hidden" />
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="investmentTypeDetail">Investment Type</label>
                </div>
                <div class="input">
                  <select id="investmentTypeDetail" class="inputxlg">
                    <option value="">Please Select an Investment Type</option>
                    <option value="Annunity / Life Insurance">Annunity / Life Insurance</option>
                    <option value="Brokerage">Brokerage</option>
                    <option value="cd">CD</option>
                    <option value="Defined Benefit">Defined Benefit</option>
                    <option value="Mutual Fund">Mutual Fund</option>
                  </select>
                </div>                
              </div>
            </div>

            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="transferValueDetail">Transfer Value<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" id="transferValueDetail" name="transferValueDetail" class="inputxlg dollarFormat" data-required="true" />
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
               <div class="lbl">
                  <label for="acctContractDetail">Account / Contract Number</label>
                  </div>
                <div class="input">
                  <input type="text" id="acctContractDetail" name="acctContractDetail" class="inputxlg" />
                </div>
              </div>              
            </div>

            <div class="one_third column_last">
              <div style="min-height: 78px;"></div>
              <button class="btn2" id="confirmDetailBtn" title="Confirm"><span>Confirm</span></button>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset id="inputReadOnly" class="hidden">
        <legend class="screenReader">Source Detail</legend>
          <div class="clearfix">
          <h3 class="nmt">Source Detail</h3>
          <div class="clearfix">
            <div class="one_fourth">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Company Name</label>
                </div>
                <div class="input">
                  Fidelity Investments
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Product Name</label>
                </div>
                <div class="input">
                  Fidelity Investments
                </div>
              </div>
              <div class="clear"></div>
              
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Investment Type</label>
                </div>
                <div class="input">
                  Annunity / Life Insurance
                </div>                
              </div>              
            </div>

            <div class="one_fourth">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Transfer Value</label>
                </div>
                <div class="input">
                  $1,234,567.89
                </div>
              </div>
              <div class="clear"></div>
              
              <div class="lblFieldPairV">
               <div class="lbl">
                  <label>Account / Contract Number</label>
                  </div>
                <div class="input">
                  A012345678
                </div>
              </div>
            </div>

            <div class="one_half column_last">
              <div style="min-height: 78px;"></div>
              <button class="btn3" id="confirmDetailBtn" title="Update"><span>Update</span></button>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div> 
</section>

<div class="panels transferDetailWrapper hidden">
   
  <!-- Transfer Detail -->
  <div class="hd first">
    <span class="indicatorRed flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Incomplete</span>
    <h3> <a id="transferDetailsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="expanded"><span class="icon">+</span>Transfer Detail</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
      <!-- Error Alerts -->
      <div id="tDetailsAlerts" class="alertModule">
        <div>
          <span class="icon"></span>
          <h4 role="alert">Error:</h4>
          <ul>
            <li role="alert" id="phone-err">Phone is a required field.</li>
            <li role="alert" id="phoneFormat-err">Phone number is not formatted properly - (999) 999-9999</li>
            <li role="alert" id="feesExpenses-err">Incur Fees or Expenses is a required field.</li>
            <li role="alert" id="transferType-err">Transfer Type is a required field.</li>
            <li role="alert" id="accountType-err">Account Type is a required field.</li>
            <li role="alert" id="minDistReq-err">Minimum Distribution Requirement is a required field.</li>
            <li role="alert" id="wireTransfer-err">Wire Transfer is a required field.</li>
            <li role="alert" id="rothAccumulations-err">Roth Acumulations is a required field.</li>
            <li role="alert" id="fullLiquidation-err">Full Liquidation is a required field.</li>
            <li role="alert" id="custAuth-err">Phone Transfer is a required field.</li>
            <li role="alert" id="fundsSent-err">Check Sent is a required field.</li>
            <li role="alert" id="followUp-err">Follow Up is a required field.</li>
            <li role="alert" id="turnAround-err">Turn Around is a required field.</li>
          </ul>
        </div>
      </div>

      <!-- Transfer Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label id="transferTypeCIH" class="txtb">How will this account be funded?<span class="required">*</span></label>
        </div>
        <div class="input">            
          <div>
            <select name="transferTypeCIH" data-required="true" id="transferTypeCIH">
              <option value="">Select</option>     
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="directRolloverCash">Direct Rollover In-Cash</option>
              <option value="60DayRollover">60-Day Rollover</option>
            </select>
          </div>
        </div>
      </div>
      <div class="clear"></div>

      <!-- Account Type -->
      <div class="accountTypeIRC_wrapper hidden">
        <div class="lblFieldPairV">
          <div class="lbl">
            <label id="accountType" class="txtb">Account Type (IRC)<span class="required">*</span></label>
          </div>
          <div class="input">
            <select name="accountType" data-required="true" id="accountType" class="accountTypeDirect">
              <option selected="" value="">Select</option>
              <option value="SEP IRA">SEP IRA</option>
              <option value="Roth IRA">Roth IRA</option>
              <option value="Simple IRA">Simple IRA</option>
              <option value="Traditional IRA">Traditional IRA</option>
            </select>
            <select name="accountType" data-required="true" id="accountType" class="accountTypeOther hidden">
              <option selected="" value="">Select</option>
              <option value="401(a)">401(a)</option>
              <option value="401(k)">401(k)</option>
              <option value="403(b)">403(b)</option>
              <option value="403(b)(7)">403(b)(7)</option>
              <option value="414(h)">414(h)</option>
              <option value="457(b) Public">457(b) Public</option>
              <option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
              <option value="Keogh Money Purchase">Keogh Money Purchase</option>
              <option value="Roth 401(k)">Roth 401(k)</option>
              <option value="Roth 403(b)">Roth 403(b)</option>
              <option value="Roth457(b)">Roth457(b)</option>
              <option value="Defined Benefit Plan">Defined Benefit Plan</option>
            </select>
            <select name="accountType" data-required="true" id="accountType" class="accountType60 hidden">
            <option selected="" value="">Select</option>
              <option value="SEP IRA">SEP IRA</option>
              <option value="Roth IRA">Roth IRA</option>
              <option value="Traditional IRA">Traditional IRA</option>
              <option value="Simple IRA">Simple IRA</option>
              <option value="Employer Sponsored Plan">Employer Sponsored Plan</option>
              <option value="Keogh">Keogh</option>
            </select>          
          </div>
        </div>
        <div class="clear"></div>

        <div class="fundsAllocation_wrapper">
          <h5 class="mtm">Choose how funds will be allocated in your TIAA IRA.</h5>
          <ul class="nlist">
            <li>
              <input type="radio" name="allocationChoice" id="allocationChoiceYes">
              <label><span class="txtb">Option 1--</span> Use the allocation instructions already on file for the funds that are being transferred.<br>
              <em class="mlxlg plxlg"><span class="mlxlg">The</span> default investment option will be used if there are no allocation instructions.</em></label>
            </li>
            <li>
              <input type="radio" name="allocationChoice" id="allocationChoiceNo">
              <label><span class="txtb">Option 2--</span> Allocate the funds in this transfer to the default investment option (TIAA Bank Savings).</label>
            </li>
          </ul>
          <div class="contributionsMadeSoFar shdBox pm bdr hw hidden">
            <h5 class="nm pbm">The TIAA Bank Savings product is an FDIC vehicle for uninvested cash.</h5>
            <p class="nm closed">Key features and benefits:</p>
            <ul class="closed">
              <li>Competitive interest rate</li>
              <li>FDIC insured</li>
              <li>Limit of 6 withdrawals/transfers per month</li>
            </ul>
            <p class="nm">The client will be sent the full Terms & Conditions by mail after investing.</p>
          </div>
        </div>

        <div class="sendMethod_wrapper mtlg">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label id="sendMethod" class="txtb">How would you like to receive forms?<span class="required">*</span></label>
            </div>
            <div class="input">
              <ul class="nlist">
                <li>
                  <input type="radio" id="sendMethod-emailPDF" name="sendMethod" />
                  <label for="sendMethod-emailPDF" class="txtn">eMail completed PDF <span class="dim">(Default)</span></label>
                </li>
                <li>
                  <input type="radio" id="sendMethod-release" name="sendMethod" />
                  <label for="sendMethod-release" class="txtn">Release to fulfillment</label>
                </li>
                <li>
                  <input type="radio" id="sendMethod-printLocal" name="sendMethod" data-required="true" />
                  <label for="sendMethod-printLocal" class="txtn">Print locally</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
        </div>


        <div class="firmMailingAddress_wrapper">
          <h5>Find Existing Carrier Address</h5>
          <a href="#srhLookPopup">Search for address</a>
          
          <h5 class="mtxlg">Firm Mailing Address and Phone</h5>
          <fieldset>
            <legend class="screenReader">Carrier Mailing Address and Phone Number</legend>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="address-field1">Address Line 1<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" id="address-field1" name="address-field1" class="inputxlg">
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="address-field2">Address Line 2</label>
              </div>
              <div class="input">
                <input type="text" id="address-field2" name="address-field2" class="inputxlg">
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairGroup">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="city-field">City<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" class="inputlg" id="city-field" name="city-field">
                </div>
              </div>
            
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="State">State<span class="required">*</span></label>
                </div>
                <div class="input">
                  <select name="state" class="inputlg">
                    <option selected="selected" value="none">Select...</option>
                    <option value="Maryland">Maryland</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="North Carolina">North Carolina</option>
                  </select>
                </div>
              </div>
              <div class="lblFieldPairV nth">
                <div class="lbl">
                  <label for="test-zip">ZIP Code<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" id="test-zip" name="test-zip" maxlength="5" size="5" class="txtr">
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Contact Info -->
          <fieldset>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="phone" class="txtb">Phone</label>
              </div>
              <div class="input">
                <input type="text" class="inputlg" id="phone" name="phone" data-required="true" />
              </div>
            </div>
          </fieldset>
          <div class="clear"></div>
        </div>
      </div>

      <div class="btnBar">
        <a href="fund_an_account.html" class="btn2" title="Next"><span>Next</span></a>
      </div>
    </div>
  </div>

</div>

<!-- Sticky Footer -->
<div class="stickyFooter">
   <div class="btnBar">
      <div class="editBtn-wrapper pllg prlg">
         <a href="#returnToFundingPopup" class="btn3 fll" title="Return to Add Funding"><span>Return to Funding Sources</span></a>
         <a href="#removeFundingSourcePopup" class="btn3" title="Remove this Source"><span>Remove this Source</span></a>
         <a href="#saveFundingPopup" class="btn3" title="Save"><span>Save</span></a>
         <a href="fund_an_account.html" class="btn flr" title="Add Funding Details"><span>Add Funding Details</span></a>
      </div>
   </div>
</div>