/* Multiple selection CSS Starts here*/
.ms-select{background-color: #FFFFFF; border: 1px solid #5ec2eb; box-shadow: inset 0px 20px 15px -20px #d6d6d6; -moz-box-shadow: inset 0px 20px 15px -20px #d6d6d6; -webkit-box-shadow: inset 0px 20px 15px -20px #d6d6d6; font-size: 12px; padding: 2px; vertical-align: middle; font: 14px Arial; position:relative; cursor:pointer;} 
.multiselect{min-width:200px!important;}
.ie7 .multiselect{width:200px!important;}
.ms-select .arrow{ position: absolute; top: 1px; right:0; width: 20px; height: 20px; background: url(/themes/ud_atom/images/sprite_icon.gif) -44px -54px;}
.ms-select .ms-placeholder{display: block; white-space: pre; min-height: 1.2em; padding: 0px 2px 1px; color:#999;}	
.ms-list{border: 1px solid #5ec2eb; overflow: hidden; position: absolute; z-index: 1000; background: #fff; color: #000;}
.ms-list .ms-list-box{overflow: auto; width: 100% !important; position: relative; max-height: 200px; margin:0; padding:0;}
.ms-list .ms-list-box .ms-list-items{padding: 5px 15px 3px 20px; cursor: pointer;}
.ms-list .ms-list-box .ms-list-items:hover{background: #f1f1f1; cursor: pointer;}
.ms-list .ms-list-box .ms-list-items input{position:absolute; left:5px; top:6px; }
.ms-list .ms-list-box .ms-list-items label{font-weight:normal; }
/* Multiple selection CSS Ends here*/

/* Compact Form*/
.tiny .lblFieldPair .lbl {width:72px}
.tiny .lblFieldPair .input {margin-left:82px}

/* Wide Form*/
.wide .lblFieldPair .lbl {width: 210px}
.wide .lblFieldPair .input {margin-left: 220px}

/* xtra Wide Form*/
.xwide .lblFieldPair .lbl {width: 290px}
.xwide .lblFieldPair .input {margin-left: 300px}

/* xxtra Wide Form*/
.xxwide .lblFieldPair .lbl {width: 320px}
.xxwide .lblFieldPair .input {margin-left: 330px}

/* xxxtra Wide Form*/
.xxxwide .lblFieldPair .lbl {width: 350px}
.xxxwide .lblFieldPair .input {margin-left: 360px}

/*Internal Funding Details - Partial Transfer Table*/
#transferTotalbg {
	width: 100px;
	height: 16px;
	padding: 2px;
	background-color: #eee;
	border: solid 1px #ddd;

}

.down {
	color: #CC3333 !important; 
}

/*Bank informationbankInformation */
.bankInformation input[type=text]:not(.nameInputs) {
	width: 320px !important;
}

.bankInformation input[name=acctHolderMName] {
	width: 25px !important;
}
.bankInformation input[name=acctHolderLName] {
	width: 142px !important;
}

.bankName_wrapper {margin-top: 17px;}
.nlist li label {font-weight: normal;}

ul.nlist li {
	padding: 7px 0 0 0;
}

form#contributionOverridePopup p {
	font-size: 14px;
}

.lblFieldPair .lbl.nowrap {
    width: 220px;
}
h4 {font-size: 16px;}
h5 {font-size: 14px; color: #000;}
.phoneAdditional_wrapper ul.nlist li {margin-bottom: 15px;}
.formsPost_wrapper label {font-weight: normal;}
 /*.formsAcceptedLabel {width: 100px;}*/

 #igoPopup .lblFieldPair {
 	margin-bottom: 10px;
 }

.bgExpandedTop {width: auto !Important;}

/*Colored Circle Indicators*/
.indicatorRed, 
.indicatorGreen,
.indicatorYellow {
    border-radius: 50%;
    display: inline-block;
    width: 16px;
		height: 16px;
}
	.indicatorRed {background-color: red;}
	.indicatorGreen {background-color: #66cc00;}
	.indicatorYellow {background-color: yellow;}
.hd span[class^="indicator"],
.hd span[id^="indicator"] {
	margin-top: 9px;	
}

#addFundingTo, #addFundingToChange { height: 35px;}

#inputReadOnly .lblFieldPairV {min-width: 260px;}

/* Sticky Footer - Rafi & Bob 10/27/2015 */
.stickyFooter {
	float: right;
	width: auto;
}
.stickyFooter .btnBar {
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}
.addStickyFooter #wrapper {
	margin-bottom: 54px !important;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

	.addStickyFooter #wrapper {
		margin-bottom: 0px !important;
	}
}
.addStickyFooter .stickyFooter {
	background-color: #eee;
	border-top: solid 1px #aaa;
	height: 43px;
	padding: 10px 0 0 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
#correspondenceul{

	margin-left:172px;
}
 #carrierDetails1.lblFieldPairV{
width: 350px !important; 
}
 #carrierDetails2.lblFieldPairV{
width: 350px !important;
 
}


#tranferfax ul.lblinline input, ul.lblSelectPair input {
	 border: 1px solid #5ec2eb !important;
}

.popup label{

	display:inline !important;
}