
<!-- Panels -->
<div class="panels">
   <!-- Take Action Start Here -->
   <div class="hd" id="TakeAction">
      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Panel A</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <div class="one_third">
               <h3>Panel Header</h3>
               <ul class="navList">
                  <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, ex, sapiente, a at officia velit perferendis eveniet in blanditiis officiis possimus eaque fugit repellendus nesciunt cupiditate placeat voluptate nemo magnam.</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- End of Take Action -->
</div>
<!-- End Pannel -->
