<div class="mb">
  <a href="#" title="Back to Participant Summary">Return to Participant Summary</a>
</div>
<div class="descl">For internal use only</div>
<div class="leftnav" id="leftNav">
  <h3>Contents</h3>
  <ul class="leftul">
    <li>
      <a title="Link1" href="#">Default Link1</a>
    </li>
    <li>
      <a title="Link2" href="#">Link2</a>
    </li>
    <li id="spec">
      <a title="Link3" href="# ">Link3</a>
    </li>
    <li>
      <a title="Link4" href="#">Link4</a>
    </li>
  </ul>
</div>