<!-- Popups Ram added in Sprint 13 -->
<div id="srhLookPopup" class="popup" data-popup="width:950" title="Carrier Address Search">
  <div class="body">  
    <h3 class="nmt">Search By</h3>
    <form name="srhLookForm" id="srhLookForm">
      <div id="srhLookErrors" class="alertModule">
        <div>
        <span class="icon"></span>
        <h4 role="alert">Error:</h4>
        <ul>
          <li role="alert" id="adrCarrName-err">Carrier name</li>
          <li role="alert" id="adrZip-err">Please enter a Zip code to search for the Alt Carrier Address</li>       
        </ul>
        </div>
      </div>
      <div class="lblFieldPairGroup">
        <div class="lblFieldPairV">
          <div class="lbl"><label>Carrier Name<span class="required">*</span></label></div>
          <div class="input">
            <input type="text" id="adrCarrName" class="inputlg" value=""/>
          </div>    
        </div>    
        <div class="lblFieldPairV">
          <div class="lbl"><label>Zip Code <span class="required">*</span></label></div>
          <div class="input"><input type="text" id="adrZip" class="inputlg" value=""/></div>    
        </div>
        <div class="lblFieldPairV">
          <div class="lbl">&nbsp;</div>
          <div class="input"><a href="javascript:void(0);" class="btn btnSmall" title="Add" id="searchBtn"><span>Search</span></a> </div>            
        </div>
      </div>
    </form>
    <div class="clear mb bsep"></div>
    <div class="srhResultsDiv hidden">
      <h3 class="nm">Search Results for</h3>
      <h4 class="mts nmb txt14">"<span class="adrCarrName-Txt">Vanguard</span>" in "<span class="adrZip-Txt">10024</span>"<span class="flr">Results 1- 20 of 40</span></h4>
      <div class="clear"></div>
      <div class="flexScroll max-height250">
        <table class="styleA fw" summary="Search Table">
          <caption>Search Table</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>City</th>
              <th>State</th>
              <th>ZIP</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
          </tbody>
        </table>
        <div class="pagenavi">
          <div id="paginglabel" class="screenReader">Pagination</div>
          <div class="fll">
          <label for="pageselect">Results per page</label>
          <select id="pageselect" name="pageselect">
            <option>20</option>
            <option>15</option>
            <option>10</option>
            <option selected="selected">5</option>
          </select>
          </div>
          <ul role="navigation" aria-labelledby="paginglabel" class="pagingList">
          <li><a class="backLink" href="#" rel="prev">Previous <span class="icon"></span></a> </li>
          <li class="pageNav">
            <label for="gotoPage">Page</label>
            <input type="text" value="5" id="gotoPage" size="5" aria-labelledby="gotoPage ofPages" />
            <span id="ofPages">of 100</span>
            <input type="submit" value="Go" class="btn3 btnSmall ml" title="Submit" />
          </li>
          <li class="last"> <a href="#" class="nextLink" rel="next">Next <span class="icon"></span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="addExtSrcPopup" class="popup" data-popup="width:300" title="Add External Source">
  <div class="body">
    <div class="mb"><span class="required">*</span>Indicates required fields</div>
    <div class="lblFieldPairV">
      <div class="lbl"><label>Company Name<span class="required">*</span></label></div>
      <div class="input">
        <select name="extComName" id="extComName" class="inputlg">
          <option value="">Select</option>
          <option value="Vanguard">Vanguard</option>
          <option value="Other">Other</option>
        </select>
      </div>    
    </div>
    <div class="clear"></div>
    
    <div class="enterCoName_wrapper hidden">
      <div class="lblFieldPairV">
        <div class="lbl"><label>Enter Company Name<span class="required">*</span></label></div>
        <div class="input"><input type="text" id="tckrSymblAmnt" class="inputlg"></div>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="lblFieldPairV">
      <div class="lbl"><label>Transfer Amount</label></div>
      <div class="input"><input type="text" id="tckrSymblAmnt" class="inputlg" value="$1,00000.00"/></div>    
    </div>
    <div class="clear"></div>
    
    <ul class="lblinline">
      <li>
        <input type="checkbox" id="clientCheck" name="clientCheck" checked aria-labelledby="clientCheck" />
        <label for="clientCheck">Client already has a check in hand</label>
      </li>
    </ul>         
    <div class="clear"></div>
    <div class="btnBar">
      <button class="btn btnLink closePopup mrlg" title="Cancel"><span>Cancel</span></button>
      <button class="btn" title="Add" id="addExtSrcBtn"><span>Add</span></button>     
    </div>
  </div>
</div> -->
<!-- Popups Ram added in Sprint 13 -->

<form id="addExternalsourcePopup" class="popup" title="Add External Source" action="" method="get" data-popup="width:375">
  <div class="body">
    <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
    <div class="lblFieldPairV">
       <div class="lbl">
        <label for="companyName">Company Name<span class="required">*</span></label>
       </div>
       <div class="input">
        <select id="companyName" class="inputxlg">
          <option value="">Select a company name</option>
          <option value="Barclays Capital">Barclays Capital</option>
          <option value="Charles Schwab">Charles Schwab</option>
          <option value="Citibank">Citibank</option>
          <option value="Credit Suisse">Credit Suisse</option>
          <option value="Deutsche Bank">Deutsche Bank</option>
          <option value="Etrade">Etrade</option>
          <option value="Fidelity Investments">Fidelity Investments</option>
          <option value="Goldman Sachs">Goldman Sachs</option>
          <option value="Hilliard Lyons">Hilliard Lyons</option>
          <option value="HSBC">HSBC</option>
          <option value="Janney Montgomery Scott">Janney Montgomery Scott</option>
          <option value="JP Morgan Chase">JP Morgan Chase</option>
          <option value="Kaspick">Kaspick</option>
          <option value="Merrill Lynch Morgan Stanley">Merrill Lynch Morgan Stanley</option>
          <option value="Northern Trust">Northern Trust</option>
          <option value="Nuveen lnvestments">Nuveen lnvestments</option>
          <option value="People’s Securities">People’s Securities</option>
          <option value="Raymond James">Raymond James</option>
          <option value="RBC Capital Markets">RBC Capital Markets</option>
          <option value="Scottrade">Scottrade</option>
          <option value="Smith Barney">Smith Barney</option>
          <option value="State Street Global Advisors">State Street Global Advisors</option>
          <option value="Stifel Nicolaus">Stifel Nicolaus</option>
          <option value="TD Ameritrade">TD Ameritrade</option>
          <option value="TIAA-CREF">TIAA-CREF</option>
          <option value="T Rowe Price">T Rowe Price</option>
          <option value="UBS Financial">UBS Financial</option>
          <option value="USAA Brokerage">USAA Brokerage</option>
          <option value="Vanguard">Vanguard</option>
          <option value="Wells Fargo">Wells Fargo</option>
          <option value="Other">Other</option>
        </select>
       </div>
    </div>
    <div class="clear"></div>

    <div class="lblFieldPairV otherCompany-wrapper hidden">
       <div class="lbl">
        <label for="otherCompany">Enter Company Name<span class="required">*</span></label>
       </div>
       <div class="input">
        <input type="text" id="otherCompany" name="otherCompany" class="inputxlg npr npl" />
       </div>
    </div>
    <div class="clear"></div>

    <div class="lblFieldPairV">
       <div class="lbl">
        <label for="transferAmount">Transfer Amount</label>
       </div>
       <div class="input">
        <input type="text" id="transferAmount" name="transferAmount" class="inputxlg dollarFormat" placeholder="$" />
       </div>
    </div>
    <div class="clear"></div>

    <ul class="lblinline">
      <li>
        <input type="checkbox" id="clientCheck" name="clientCheck" aria-labelledby="clientCheck" />
        <label for="clientCheck">Client already has a check in hand</label>
      </li>
    </ul>
    <div class="clear"></div>
      
    <div class="btnBar mrs prxs">
      <a href="#closePopup" class="fll" title="Cancel"><span>Cancel</span></a>
      <a href="javascript:void(0);" id="addBtn" class="btn" title="Add"><span>Add</span></a>
    </div>
  </div>
</form>

<div id="internalTransferMt3Popup" class="popup" data-popup="width:500" title="Model T-enabled Internal Rollover">
   <div class="body txt14">
      <p>Funds can be transferred from this plan into this TIAA IRA using Model T functionality. Choose Add to continue with this transaction, and when you've finished this application, you'll be able to continue to Model T and complete this funding transfer. 
    </p>
      
      <div class="btnBar">
        <a href="#closePopup" id="addBtn" class="btn showSelectIntContracts" title="Add"><span>Add</span></a>
      </div>
   </div>
</div>

<div id="internalAssetTransfer60Popup" class="popup" data-popup="width:800" title="Internal 60-day rollover from a contract that no longer has a balance">
  <div class="body txt14">
    <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
    <div class="infoModule visible" aria-live="polite" role="alert">
      <div>
        <span class="icon"></span>
        <h4>NOTICE: Only one 60 day rollover per year allowed.</h4>
        <ul>
          <li>Only one 60-day rollover allowed per year
            As of January 1, 2015, clients are only able to complete one 60-day rollover between IRAs within a 365 day period. This new IRS rule doesn't impact direct trustee-to-trustee transfers between IRAs. For more information on the above, or on the client's ability to qualify for a waiver on the 60-day time limit, please see IRS.gov."
          </li>
        </ul>
      </div>
    </div>

    <div class="lblFieldPairV">
       <div class="lbl">
        <label for="companyName">Select an existing plan</label>
       </div>
       <div class="input">
        <select id="existingPlan">
          <option selected="" value="Select ">Select </option>
          <option value="SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC   |   100311   |  TIAA D5561578    CREF V5561575">SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC&nbsp;&nbsp; |&nbsp;&nbsp; 100311&nbsp;&nbsp; |&nbsp; TIAA D5561578&nbsp; &nbsp; CREF V5561575</option>
          <option value="SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC   |   200312   |  TIAA D5561578    CREF V5561575">SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC&nbsp;&nbsp; |&nbsp;&nbsp; 200312&nbsp;&nbsp; |&nbsp; TIAA D5561578&nbsp; &nbsp; CREF V5561575</option>
          <option value="Cornell University Tax Deferred Annuity Plan                      |   300123   |  TIAA D5561271    CREF V5561333">Cornell University Tax Deferred Annuity Plan&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; |&nbsp;&nbsp; 300123&nbsp;&nbsp; |&nbsp; TIAA D5561271&nbsp; &nbsp; CREF V5561333</option>
          <option value="UCAL UClrvine Contract Colleges Froze 403(B) DC            |   500698   |  TIAA D3689988    CREF V5698744">UCAL UClrvine Contract Colleges Froze 403(B) DC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; |&nbsp;&nbsp; 500698&nbsp;&nbsp; |&nbsp; TIAA D3689988&nbsp; &nbsp; CREF V5698744</option>
        </select>
       </div>
    </div>
    <div class="clear"></div>

    <div class="clearfix">
      <div class="one_half">
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="TIAAContractNumber">CREF certificate number<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="TIAAContractNumber" name="TIAAContractNumber" class="inputm" />
          </div>
        </div>
        <div class="clear"></div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="CREFCertNumber">CREF certificate number<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="CREFCertNumber" name="CREFCertNumber" class="inputm" />
          </div>
        </div>
        <div class="clear"></div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="contractType">Contract type<span class="required">*</span></label>
          </div>
          <div class="input">
            <select id="contractType">
              <option value="">Please select</option>
              <option value="Retirement Choice (84)">Retirement Choice (84)</option>
              <option value="Retirement Choice Plus (84)">Retirement Choice Plus (84)</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="clear"></div>

      </div>
      <div class="one_half column_last">
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="isAnnuity">Is this an annuity?<span class="required">*</span></label>
          </div>
          <div class="input">
            <fieldset>
              <legend><span class="screenReader">Is this an annuity?</span></legend>
              <ul class="lblinline">
                <li>
                  <input type="radio" id="isAnnuity-yes" name="isAnnuity" checked aria-labelledby="isAnnuity" />
                  <label for="isAnnuity-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="isAnnuity-no" name="isAnnuity" aria-labelledby="isAnnuity" />
                  <label for="isAnnuity-no">No</label>
                </li>
              </ul>
            </fieldset>
          </div>
        </div>
        <div class="clear"></div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="totalRolloverAmount">Total rollover amount<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="totalRolloverAmount" name="totalRolloverAmount" class="inputm dollarFormat" placeholder="$" />
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    

      
    <div class="btnBar">
      <a href="#closePopup" id="cancelBtn" title="Cancel"><span>Cancel</span></a>
      <a href="#closePopup" id="addBtn" class="btn showSelectIntContracts" title="Add"><span>Add</span></a>
    </div>
  </div>
</div>

<div id="internalAssetTransferPopup" class="popup" data-popup="width:800" title="Rollover as a Beneficiary">
  <div class="body txt14">
    <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>

    <div class="lblFieldPairV">
       <div class="lbl">
        <label for="companyName">Existing Plan</label>
       </div>
       <div class="input">
        <select id="existingPlan">
          <option selected="" value="Select ">Select</option>
          <option value="SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC   |   100311   |  TIAA D5561578    CREF V5561575">SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC&nbsp;&nbsp; |&nbsp;&nbsp; 100311&nbsp;&nbsp; |&nbsp; TIAA D5561578&nbsp; &nbsp; CREF V5561575</option>
          <option value="SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC   |   200312   |  TIAA D5561578    CREF V5561575">SUNY ORP- Cornell Contract Colleges Froze 403 (B) DC&nbsp;&nbsp; |&nbsp;&nbsp; 200312&nbsp;&nbsp; |&nbsp; TIAA D5561578&nbsp; &nbsp; CREF V5561575</option>
          <option value="Cornell University Tax Deferred Annuity Plan                      |   300123   |  TIAA D5561271    CREF V5561333">Cornell University Tax Deferred Annuity Plan&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; |&nbsp;&nbsp; 300123&nbsp;&nbsp; |&nbsp; TIAA D5561271&nbsp; &nbsp; CREF V5561333</option>
          <option value="UCAL UClrvine Contract Colleges Froze 403(B) DC            |   500698   |  TIAA D3689988    CREF V5698744">UCAL UClrvine Contract Colleges Froze 403(B) DC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; |&nbsp;&nbsp; 500698&nbsp;&nbsp; |&nbsp; TIAA D3689988&nbsp; &nbsp; CREF V5698744</option>
        </select>
       </div>
    </div>
    <div class="clear"></div>

    <div class="clearfix">
      <div class="one_half">
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="sourceAccount">Full Name of Source Account Holder<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="sourceAccount" name="sourceAccount" class="inputm" />
          </div>
        </div>
        <div class="clear"></div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="TIAAContractNumber">TIAA Contract Number<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="TIAAContractNumber" name="TIAAContractNumber" class="inputm" />
          </div>
        </div>
        <div class="clear"></div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="CREFCertNumber">CREF Certificate Number<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="CREFCertNumber" name="CREFCertNumber" class="inputm" />
          </div>
        </div>
        <div class="clear"></div>

      </div>
      <div class="one_half column_last">
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="isAnnuity">Is this an annuity?<span class="required">*</span></label>
          </div>
          <div class="input">
            <fieldset>
              <legend><span class="screenReader">Is this an annuity?</span></legend>
              <ul class="lblinline">
                <li>
                  <input type="radio" id="isAnnuity-yes" name="isAnnuity" checked aria-labelledby="isAnnuity" />
                  <label for="isAnnuity-yes">Yes</label>
                </li>
                <li>
                  <input type="radio" id="isAnnuity-no" name="isAnnuity" aria-labelledby="isAnnuity" />
                  <label for="isAnnuity-no">No</label>
                </li>
              </ul>
            </fieldset>
          </div>
        </div>
        <div class="clear"></div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="contractType">Contract Type<span class="required">*</span></label>
          </div>
          <div class="input">
            <select id="contractType">
              <option value="">Select</option>
              <option value="Retirement Choice (84)">Retirement Choice (84)</option>
              <option value="Retirement Choice Plus (84)">Retirement Choice Plus (84)</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="clear"></div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="totalRolloverAmount">Total Rollover Amount<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="totalRolloverAmount" name="totalRolloverAmount" class="inputm dollarFormat" placeholder="$" />
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    

      
    <div class="btnBar">
      <a href="#closePopup" id="cancelBtn" title="Cancel"><span>Cancel</span></a>
      <a href="#closePopup" id="addBtn" class="btn showSelectIntContracts" title="Add"><span>Add</span></a>
    </div>
  </div>
</div>

<div id="eraseRequest" class="popup" data-popup="width:500" title="Would you like to change the account you'd like to fund?">
   <div class="body txt14">
      <p>Are you sure you want to change the account you're funding? All funding source information will be retained after this change is made, so you'll be able to return to your original request by changing the selected account to add funding to.</p>
	  
      <p>Choose <span class="txtb">No to cancel</span> and return to your original request.<br> 
        Choose <span class="txtb">Yes to change</span> the account you'd like to fund.</p>
      <div class="btnBar">
        <button id="noChangeBtn" class="btn3 btnLarge" title="No"><span>No</span></button>
        <button id="yesChangeBtn" class="btn btnLarge" title="Yes"><span>Yes</span></button>
      </div>
   </div>
</div>

<div id="eraseRequestOld" class="popup" data-popup="width:500" title="Erase Request and Change Account?">
   <div class="body">
      <p>Changing the account you want to fund will erase the original request and all the information you've entered. Do you want to proceed?</p>
      <p>Choose No to cancel to return to your request.<br>
      Choose Yes to erase this request and start over with a new account.</p>
      <div class="btnBar">
        <button id="noChangeBtn" class="btn3 btnLarge" title="No"><span>No</span></button>
        <button id="yesChangeBtn" class="btn btnLarge" title="Yes"><span>Yes</span></button>
      </div>
   </div>
</div>

<div id="popupMaturity" class="popup" data-popup="width:600" title="Is this correct?">
   <div class="body">
      <div class="noticeModule visible" aria-live="polite" role="alert">
        <div> 
          <span class="icon"></span>
          <p class="txtb">Alert:</p>
          <ul class="mblg">
            <li>You entered a Maturity Date that is 180 from todays date.</li>
            <li>We do not recommend Maturity Dates more than 180 days from todays date.</li>
          </ul>
        </div>
      </div>
      <div class="btnBar">
        <a href="#closePopup" class="btn" title="OK"><span>OK</span></a>
      </div>
   </div>
</div>

<form id="cancelExtSourcePopup" class="popup" title="Does the customer want to remove this funding source?" action="" method="get" data-popup="width:575">
  <div class="body">
  	<p>If so, this funding source will be marked as "removed" and the account will no longer receive funding from it.</p>
    <p class="mtlg">Choose No to keep this request and continue working.<br>
    Choose Yes to remove this funding source.</p>
      
    <div class="btnBar mrs prxs">
      <a href="#closePopup" class="btn3 fll" title="No"><span>No</span></a>
      <a href="javascript:void(0);" id="cancelSourceBtn" class="btn" title="Yes"><span>Yes</span></a>
    </div>
  </div>
</form>

<form id="cancelAllFundingPopup" class="popup" title="Cancel Funding - Are You Sure?" action="" method="get" data-popup="width:575">
  <div class="body">
    <p>Canceling funding will delete all source information entered for this transaction.<br>
    Are you sure you want to cancel this funding request?</p>
    <p class="mtlg">Click Yes - to cancel funding<br>
    Click No - to keep this request</p>
      
    <div class="btnBar mrs prxs">
      <a href="#closePopup" class="btn3 fll" title="No"><span>No</span></a>
      <a href="http://prototype.ops.tiaa-cref.org/ud/ps_ud2/ias.html" id="cancelSourceBtn" class="btn" title="Yes"><span>Yes</span></a>
    </div>
  </div>
</form>

<form id="saveFundingPopup" class="popup" title="Successful save" action="" method="get" data-popup="width:575">
  <div class="body">
    <div class="successModule visible" aria-live="polite" role="alert">
      <div><span class="icon"></span> <span class="txtb"><span class="txthlt5">SUCCESS:</span>You have successfully saved this funding record.</span> </div>
    </div>
      
    <div class="btnBar mrs prxs">
      <a href="#closePopup" id="saveRecordBtn" class="btn3" title="Close"><span>Ok</span></a>
    </div>
  </div>
</form>

<form id="contributionOverridePopup" class="popup" title="Contribution Override" action="" method="get" data-popup="width:575">
  <div class="body">
    <p>You may override the contribution limit at the customers request if they feel that the limits shown are not accurate for their situation and or they have consulted with a tax advisor. <a href="#">View IRA Contributions limits calculator.</a></p>
    <h5>Penalty</h5>
    <p>Excess contributions are subject to a 6% penalty tax. The tax is levied each year the excess contribution remains in the account.</p>
    <h5>Grace Period</h5>
    <p>The IRA allows a grace period during which excess contributions can be removed without a penalty. The deadline is the due date for filing your tax return. (Including extensions)</p>
      
    <div class="btnBar mrs prxs">
      <a href="#closePopup" class="" title="Cancel"><span>Cancel</span></a>
      <a href="#closePopup" id="contributionOverrideBtn" class="btn" title="Override"><span>Override</span></a>
    </div>
  </div>
</form>

<div id="returnToFundingPopup" class="popup" data-popup="width:500" title="Do you want to save your changes?">
   <div class="body">
      <p>You've made changes to this funding source information.</p>
      <p>Do you want to save these changes before you return to the TIAA enrollment?</p>
      <div class="btnBar">
        <a href="fund_an_account.html" class="btn3 fll" title="No"><span>No</span></a>
        <a href="#closePopup" class="btn" title="Yes"><span>Yes</span></a>
      </div>
   </div>
</div>

<div id="removeFundingSourcePopup" class="popup" data-popup="width:500" title="Remove Funding Source?">
   <div class="body">
      <p>If so, this funding source will be marked as "removed" and the account will no longer receive funding from it. </p>
      <p>Choose No to keep this request and continue working.<br>
        Choose Yes to remove this funding source.</p>
      <div class="btnBar">
        <a href="#closePopup" class="btn3 fll" title="No"><span>No</span></a>
        <a href="#closePopup" class="btn" title="Yes"><span>Yes</span></a>
      </div>
   </div>
</div>

<div id="addSymblPopup" class="popup" data-popup="width:450" title="Partial liquidation instructions">
  <div class="body">
    <div class="lblFieldPair">
      <div class="lbl txtb">Symbol or name
      <select id="symbolOrName">
        <option value="Please Select "> Select </option>
        <option value="Ticker Symbol">Ticker Symbol</option>
        <option value="Investment Name">Investment Name</option>
      </select><span class="required ptlg">*</span></div>
      <div class="input ptlg"><input type="text" id="tckrSymbl" class="inputm"/></div>   
    </div>
    <div class="lblFieldPair">
      <div class="lbl txtb">Liquidation type<span class="required">*</span></div>
      <div class="input">
        <ul class="lblSelectPair">
          <li>
             <input type="radio" name="lqType" id="lqTypeShare">
             <label for="lqTypeShare">Shares</label>
          </li>
          <li>
             <input type="radio" name="lqType" id="lqTypePerc">
             <label for="lqTypePerc">Percentage</label>
          </li>
          <li>
             <input type="radio" name="lqType" id="lqTypeDol">
             <label for="lqTypeDol">Dollars</label>
          </li>       
        </ul>     
      </div>    
    </div>
    <div class="lblFieldPair">
      <div class="lbl txtb">Amount to liquidate<span class="required">*</span></div>
      <div class="input"><input type="text" id="tckrSymblAmnt" class="inputm"/></div>   
    </div>
      
    <div class="btnBar">
      <button class="btn btnLink closePopup mrlg" title="Cancel"><span>Cancel</span></button>
      <button class="btn" title="Add" id="addSymblBtn"><span>Add</span></button>
      
    </div>
  </div>
</div>

<div id="addTransferPopup" class="popup" data-popup="width:450" title="Add Investment Allocation Details">
  <div class="body">
    <div class="lblFieldPair">
      <div class="lbl txtb">Symbol or Name
      <select id="symbolOrName">
        <option value="Please Select ">Select </option>
        <option value="Ticker Symbol">Ticker Symbol</option>
        <option value="Investment Name">Investment Name</option>
      </select><span class="required ptlg">*</span></div>
      <div class="input ptlg"><input type="text" id="tckrSymbl" class="inputm"/></div>   
    </div>
    <div class="lblFieldPair">
      <div class="lbl txtb">Calculate as<span class="required">*</span></div>
      <div class="input">
        <ul class="lblinline">
          <!-- <li>
             <input type="radio" name="lqType" id="lqTypeShare">
             <label for="lqTypeShare">Shares</label>
          </li> -->
          <li>
             <input type="radio" name="lqType" id="lqTypePerc">
             <label for="lqTypePerc">Percent</label>
          </li>
          <li>
             <input type="radio" name="lqType" id="lqTypeDol">
             <label for="lqTypeDol">Dollars</label>
          </li>       
        </ul>     
      </div>    
    </div>
    <div class="lblFieldPair">
      <div class="lbl txtb">Amount<span class="required">*</span></div>
      <div class="input"><input type="text" id="tckrSymblAmnt" class="inputm"/></div>   
    </div>
      
    <div class="btnBar">
      <button class="btn btnLink closePopup mrlg" title="Cancel"><span>Cancel</span></button>
      <button class="btn" title="Add" id="addSymblBtn"><span>Add</span></button>
      
    </div>
  </div>
</div>