<section class="drop">
  <div class="cm">
    <div class="bd">

      <!-- Error Alerts -->
		<div id="sourceDetailErrors" class="alertModule">
			<div>
			<span class="icon"></span>
			<h4 role="alert">Error:</h4>
			<ul>
				<li role="alert" id="companyNameDetail-err">Select a Company Name</li>
				<li role="alert" id="transferValueDetail-err">Provide a Transfer Value</li>
				<li role="alert" id="productNameDetail-err">Select a Product Name</li>			
				<!--<li role="alert" id="acctContractDetail-err">Provide an Account / Contract Number</li>
				<li role="alert" id="investmentTypeDetail-err">Select an Investment Type</li> -->
			</ul>
			</div>
		</div>


		<fieldset id="inputDetails">
			<legend class="screenReader">Source Details</legend>
			<h3 class="nmt">Source Detail</h3>					
			<div class="clearfix">
				<div class="one_third">
					<div class="lblFieldPairV">
						<div class="lbl">
							<label for="companyNameDetail">Company Name<span class="required">*</span></label>
						</div>
						<div class="input">
							<select id="companyNameDetail" class="inputxlg" data-required="true">
								<option value="">Select Company Name</option>
								<option value="Barclays Capital">Barclays Capital</option>
								<option value="Charles Schwab">Charles Schwab</option>
								<option value="Citibank">Citibank</option>
								<option value="Credit Suisse">Credit Suisse</option>
								<option value="Deutsche Bank">Deutsche Bank</option>
								<option value="Etrade">Etrade</option>
								<option value="Fidelity Investments">Fidelity Investments</option>
								<option value="Goldman Sachs">Goldman Sachs</option>
								<option value="Hilliard Lyons">Hilliard Lyons</option>
								<option value="HSBC">HSBC</option>
								<option value="Janney Montgomery Scott">Janney Montgomery Scott</option>
								<option value="JP Morgan Chase">JP Morgan Chase</option>
								<option value="Kaspick">Kaspick</option>
								<option value="Merrill Lynch Morgan Stanley">Merrill Lynch Morgan Stanley</option>
								<option value="Northern Trust">Northern Trust</option>
								<option value="Nuveen lnvestments">Nuveen lnvestments</option>
								<option value="People’s Securities">People’s Securities</option>
								<option value="Raymond James">Raymond James</option>
								<option value="RBC Capital Markets">RBC Capital Markets</option>
								<option value="Scottrade">Scottrade</option>
								<option value="Smith Barney">Smith Barney</option>
								<option value="State Street Global Advisors">State Street Global Advisors</option>
								<option value="Stifel Nicolaus">Stifel Nicolaus</option>
								<option value="TD Ameritrade">TD Ameritrade</option>
								<option value="TIAA-CREF">TIAA-CREF</option>
								<option value="T Rowe Price">T Rowe Price</option>
								<option value="UBS Financial">UBS Financial</option>
								<option value="USAA Brokerage">USAA Brokerage</option>
								<option value="Vanguard">Vanguard</option>
								<option value="Wells Fargo">Wells Fargo</option>
								<option value="Other">Other</option>
							</select>
							<input type="text" id="otherCompany" name="otherCompany" class="inputm hidden" value="" />
						</div>
					</div>
					<div class="clear"></div>
					<div class="lblFieldPairV">
						<div class="lbl"><label for="productNameDetail">Product Name<span class="required">*</span></label></div>
						<div class="input">
							<select id="productNameDetail"  class="inputxlg" data-required="true">
								<option value="">Please select</option>
								<option value="db">[Populated by Alt Carrier DB]</option>
								<option value="Other">Other</option>
							</select>
							<input type="text" id="otherProduct" name="otherProduct" class="inputm hidden" value=""/>
						</div>
					</div>
					<div class="clear"></div>
					<div class="lblFieldPairV">
						<div class="lbl"><label for="investmentTypeDetail">Investment Type</label></div>
						<div class="input">
							<select id="investmentTypeDetail" class="inputxlg"  data-required="false">
								<option value="none">Please Select an Investment Type</option>
								<option value="Annunity / Life Insurance">Annunity / Life Insurance</option>
								<option value="Brokerage">Brokerage</option>
								<option value="cd">CD</option>
								<option value="Defined Benefit">Defined Benefit</option>
								<option value="Mutual Fund">Mutual Fund</option>
							</select>
						</div>                
					</div>
				</div>
				<div class="one_third">
					<div class="lblFieldPairV">
						<div class="lbl"><label for="transferValueDetail">Transfer Value<span class="required">*</span></label></div>
						<div class="input">
							<input type="text" id="transferValueDetail" name="transferValueDetail" class="inputxlg dollarFormat" data-required="true" />
						</div>
					</div>
					<div class="clear"></div>
					<div class="lblFieldPairV">
						<div class="lbl"><label for="acctContractDetail">Account / Contract Number</label></div>
						<div class="input"><input type="text" id="acctContractDetail" name="acctContractDetail" class="inputxlg" data-required="false" /></div>
					</div>              
				</div>
				<div class="one_third column_last"></div>
			</div>			
			<button class="btn2 flr editReadMode" id="confirmDetailBtn" title="Confirm"><span>Confirm</span></button>
		</fieldset>

		<fieldset id="inputReadOnly" class="hidden">
			<legend class="screenReader">Source Detail</legend>
			<h3 class="nmt">Source Detail</h3>
		
		<div class="clearfix">
			<div class="one_third">
				<div class="lblFieldPairV">
					<div class="lbl"><label>Company Name</label></div>
					<div class="input compNameRead">Fidelity Investments</div>
				</div>
				<div class="clear"></div>
				<div class="lblFieldPairV">
					<div class="lbl"><label>Product Name</label></div>
					<div class="input">Fidelity Investments</div>
				</div>
				<div class="clear"></div>
				<div class="lblFieldPairV">
					<div class="lbl"><label>Investment Type</label></div>
					<div class="input">Annunity / Life Insurance</div>                
				</div>
				<div class="clear"></div>			
			</div>
			<div class="one_third">
				<div class="lblFieldPairV">
					<div class="lbl"><label>Transfer Value</label></div>
					<div class="input">$1,234,567.89</div>
				</div>
				<div class="clear"></div>
				<div class="lblFieldPairV">
					<div class="lbl"><label>Account / Contract Number</label></div>
					<div class="input">A012345678</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="one_third column_last"></div>
			</div>
			<button class="btn3 flr editReadMode" id="updateDetailBtn" title="Update"><span>Update</span></button>
		</fieldset>
    </div>
  </div> 
</section>

<div class="panels transferDetailWrapper hidden">
   
  <!-- Transfer Detail -->
  <div class="hd first">
    <span class="indicatorRed flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Incomplete</span>
    <h3> <a id="transferDetailsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="expanded"><span class="icon">+</span>Transfer Detail</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
      <!-- Error Alerts -->
      <div id="tDetailsAlerts" class="alertModule">
        <div>
          <span class="icon"></span>
          <h4 role="alert">Error:</h4>
          <ul>
            <li role="alert" id="phone-err">Phone is a required field.</li>
            <li role="alert" id="phoneFormat-err">Phone number is not formatted properly - (999) 999-9999</li>
            <li role="alert" id="feesExpenses-err">Incur Fees or Expenses is a required field.</li>
            <li role="alert" id="transferType-err">Transfer Type is a required field.</li>
            <li role="alert" id="accountType-err">Account Type is a required field.</li>
            <li role="alert" id="minDistReq-err">Minimum Distribution Requirement is a required field.</li>
            <li role="alert" id="wireTransfer-err">Wire Transfer is a required field.</li>
            <li role="alert" id="rothAccumulations-err">Roth Acumulations is a required field.</li>
            <li role="alert" id="fullLiquidation-err">Full Liquidation is a required field.</li>
            <li role="alert" id="custAuth-err">Phone Transfer is a required field.</li>
            <li role="alert" id="fundsSent-err">Check Sent is a required field.</li>
            <li role="alert" id="followUp-err">Follow Up is a required field.</li>
            <li role="alert" id="turnAround-err">Turn Around is a required field.</li>
          </ul>
        </div>
      </div>

      <!-- Transfer Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label class="txtb">Transfer Type<span class="required">*</span></label>
        </div>
        <div class="input">            
			<div class="nonCDContent closed">
				<select name="transferType" data-required="true" id="transferType" class="inputlg">
					<option value="">Please Select</option>     
					<option value="directTransferCash">Direct Transfer In-Cash</option>
					<option value="directRolloverCash">Direct Rollover In-Cash</option>
					<option value="directTransferKind">Direct Transfer In-Kind</option>
					<option value="directRolloverKind">Direct Rollover In-Kind</option>
					<option value="60DayRollover">60 Day Rollover</option>
				</select>
			</div>
			<div class="CDContent">
				<select name="transferTypeCD" data-required="true" id="transferTypeCD" class="inputlg">
					<option value="none">Please Select</option>     
					<option value="directTransferCash">Direct Transfer In-Cash</option>
					<option value="60DayRollover">60 Day Rollover</option>
				</select>
			</div>
        </div>
      </div>
      <div class="clear"></div>
	<div class="nonadrSrh closed">
      <!-- Account Type -->
		<div class="lblFieldPairV">
			<div class="lbl"><label id="accountType" class="txtb">Account Type (IRC)<span class="required">*</span></label></div>
			<div class="input">
				<select name="accountTypeCD" data-required="true" id="accountTypeCD" class="accountTypeDirect inputlg">
					<option selected="" value="Please select">Please select</option>
					<option value="SEP IRA">SEP IRA</option>
					<option value="Roth IRA">Roth IRA</option>
					<option value="Traditional IRA">Traditional IRA</option>
					<option value="Simple IRA">Simple IRA</option>
					<option value="Employer Sponsored Plan">Employer Sponsored Plan</option>
					<option value="Keogh">Keogh</option>
				</select>			
			</div>
		</div>
		<div class="clear"></div>
		<div class="lblFieldPairV chooseFundAlloc closed">
			<div class="lbl"><label>Choose how these funds will be allocated</label></div>
			<div class="input">
				<ul class="lblSelectPair">
					<li>
						<input type="radio" name="chooseFunds"  id="fundsAlloc1"/>
						<label for="fundsAlloc1">Option 1 <span class="txtb">--</span> Use the allocation instructions on file for the funds being transferred.<span class="txti">The default investment option will be used if there are no allocation instructions</span></label>
					</li>
					<li>
						<input type="radio" name="chooseFunds" id="fundsAlloc2"/>
						<label for="fundsAlloc2">Option 2 <span class="txtb">--</span> Allocate the funds in this transfer to the default investment option: [TIAA Bank Savings.]</label>
						<div class="shdBox p mt closed opBox">
							<div class="txtb">Individual Retirement Savings Account Terms & Conditions</div>
							<div class="mt">Key features and benefits: </div>
							<ul>
								<li>Competitive interest rate </li>
								<li>FDIC insured </li>
								<li>Limit of 6 withdrawals/transfers per month </li>
							</ul>
							<div>The Client will be sent the full Terms and Conditions by mail upon investment.</div> 
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>		
		<div class="lblFieldPairV">
			<div class="lbl"><label>How should TIAA send forms to the client?<span class="required">*</span></label></div>
			<div class="input">
				<ul class="lblSelectPair">
					<li>
						<input type="radio" name="tiaaForm"  id="eDelivery"/>
						 <label for="eDelivery">eDelivery</label>
					</li>
					<li>
						<input type="radio" name="tiaaForm" id="relFulfill"/>
						 <label for="relFulfill">Release to fulfillment</label>
					</li>
					<li>
						<input type="radio" name="tiaaForm" id="localPrint"/>
						 <label for="localPrint">Print locally</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>	
		
	<div class="adrSrh closed">	
		<div class="lblFieldPairV">
			<div class="lbl">
			  <label id="srhaccountType" class="txtb">Account Type (IRC)<span class="required">*</span></label>
			</div>
			<div class="input">
			  <select name="srhaccountType" data-required="true" id="srhaccountType" class="accountTypeDirect inputlg">
				<option selected="" value="Please select">Please select</option>
				<option value="SEP IRA">SEP IRA</option>
				<option value="Roth IRA">Roth IRA</option>
				<option value="Simple IRA">Simple IRA</option>
				<option value="Traditional IRA">Traditional IRA</option>
			  </select>
			  <select name="accountType" data-required="true" id="accountType" class="accountTypeOther hidden">
				<option selected="" value="Please select">Please select</option>
				<option value="401(a)">401(a)</option>
				<option value="401(k)">401(k)</option>
				<option value="403(b)">403(b)</option>
				<option value="403(b)(7)">403(b)(7)</option>
				<option value="414(h)">414(h)</option>
				<option value="457(b) Public">457(b) Public</option>
				<option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
				<option value="Keogh Money Purchase">Keogh Money Purchase</option>
				<option value="Roth 401(k)">Roth 401(k)</option>
				<option value="Roth 403(b)">Roth 403(b)</option>
				<option value="Roth457(b)">Roth457(b)</option>
				<option value="Defined Benefit Plan">Defined Benefit Plan</option>
			  </select>          
			</div>
		</div>
		<div class="clear"></div>

      <!-- Incur Fee or Expense -->
	
		<div class="lblFieldPairV">
			<div class="lbl">
				<label for="feesExpenses" class="txtb">[Alt carrier] Will this transaction incur a fee or expense?<span class="required">*</span></label>
			</div>
			<div class="input">
				<fieldset>
					<legend><span class="screenReader">[Alt carrier] Will this transaction incur a fee or expense?</span></legend>
					<ul class="lblinline">
					<li>
						<input type="radio" id="feesExpenses-yes" name="feesExpenses" />
						<label for="feesExpenses-yes">Yes</label>
					</li>
					<li>
						<input type="radio" id="feesExpenses-no" name="feesExpenses" data-required="true" />
						<label for="feesExpenses-no">No</label>
					</li>
					</ul>
				</fieldset>
			</div>
		</div>
		<div class="clear"></div>

		<div class="feesExpenses_wrapper hidden">
			<div class="infoModule visible" aria-live="polite" role="alert">
			   <div>
				  <span class="icon"></span>
				  <h4>Note: If the client is:</h4>
				  <ul>
					 <li>comfortable with the fee or expense, then continue with the transaction.</li>
					 <li>hesitant or uncomfortable with the fee or expense, transfer them to a sales agent for further consultation.</li>
				  </ul>
			   </div>
			   <a class="expanded" href=""><span class="icon">-</span></a>
			</div>
			<div class="lblFieldPairV">
			  <div class="lbl">
				<label class="txtb">Fee notes</label>
			  </div>
			  <div class="input">
				<textarea rows="4" cols="80"></textarea>
			  </div>
			</div>
			<div class="clear"></div>
		</div>
        
      <!-- Minimum Distribution Requirement -->
		<div class="lblFieldPairV mtlg mrxlg">
			<div class="lbl">
			  <label id="minDistReq" class="txtb">[Alt carrier] Has the Required Minimum Distribution (RMD) been met?<span class="required">*</span></label>
			</div>
			<div class="input">
			  <fieldset>
				<legend><span class="screenReader">[Alt carrier] Has the Required Minimum Distribution (RMD) been met?</span></legend>
				<ul class="lblinline">
				  <li>
					<input type="radio" id="minDistReq-yes" name="minDistReq" data-required="true" />
					<label for="minDistReq-yes">Yes</label>
				  </li>
				  <li>
					<input type="radio" id="minDistReq-no" name="minDistReq" data-required="true" />
					<label for="minDistReq-no">No</label>
				  </li>
				  <li>
					<input type="radio" id="minDistReq-na" name="minDistReq" data-required="true" />
					<label for="minDistReq-na">N/A</label>
				  </li>
				</ul>
			  </fieldset>
			</div>
		</div>
        <div class="clear"></div>
		<div class="minDistReq_wrapper hidden">
			<div class="lblFieldPairV">
			  <div class="lbl">
				<label class="txtb">[Alt carrier] Are you able to process the RMD and the transfer/rollover at the same time?<span class="required">*</span></label>
			  </div>
			  <div class="input">
				<fieldset>
				  <legend><span class="screenReader">[Alt carrier] Are you able to process the RMD and the transfer/rollover at the same time?</span></legend>
				  <ul class="nlist">
					<li>
					  <input type="radio" id="processRMDNow-yes" name="processRMDNow" data-required="true" />
					  <label for="processRMDNow-yes">Yes, both requests can process simultaneously.</label>
					</li>
					<li>
					  <input type="radio" id="processRMDNow-no" name="processRMDNow" data-required="true" />
					  <label for="processRMDNow-no">No, the RMD request must be completed prior to making a transfer/rollover request.</label>
					</li>
					
				  </ul>
				</fieldset>
			  </div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="processRMDNow_wrapper hidden">
			<div class="infoModule visible" aria-live="polite" role="alert">
			   <div>
				  <span class="icon"></span>
				  <h4>If No:</h4>
				  <ul>
					 <li>This funding will request will be suspended until we have confirmation that the RMD has been processed. Continue and submit the request, and a task will be created in case manager for an ROS to follow up later.</li>
				  </ul>
			   </div>
			   <a class="expanded" href=""><span class="icon">-</span></a>
			</div>
			<div class="lblFieldPairV">
			  <div class="lbl">
				<label class="screenReader">[Client & Alt Carrier] When can we expect the RMD to be completed?<span class="required">*</span></label>
			  </div>
			  <div class="input">
				<input type="text" id="whenRMDCompleted" name="whenRMDCompleted" class="inputxs" />
				<label>days</label>
			  </div>
			</div>
			<div class="clear"></div>
		</div>
      
      <!-- Roth Accumulations -->
		<div class="lblFieldPairV mtm">
			<div class="lbl">
			  <label id="rothAccumulations" class="txtb">[Alt carrier] Are Roth accumulations a part of this account?<span class="required">*</span></label>
			</div>
			<div class="input">
			  <fieldset>
				<legend><span class="screenReader">[Alt carrier] Are Roth accumulations a part of this account?</span></legend>
				<ul class="lblinline">
				  <li>
					<input type="radio" id="rothAccumulations-yes" name="rothAccumulations" data-required="true" />
					<label for="rothAccumulations-yes">Yes</label>
				  </li>
				  <li>
					<input type="radio" id="rothAccumulations-no" name="rothAccumulations" data-required="true" />
					<label for="rothAccumulations-no">No</label>
				  </li>
				</ul>
			  </fieldset>
			</div>
		</div>
        <div class="clear ptlg"></div>
		<!-- Search For Existing Carrier Addresses starts here-->
		<div class="lblFieldPairV mtm otherAdrLink closed">
			<div class="lbl">
				<label>Search For Existing Carrier Addresses</label>
			</div>
			<div class="input">
				<a href="#" class="adrLookUp">Address Look-Up</a>
			
			</div>
		</div>
		<div class="clear"></div>
		<!-- Search For Existing Carrier Addresses ends here-->
		
      <!-- [Alt Carrier] Firm Mailing Address and Phone -->
		<div class="firmMailingAddress_wrapper">
			<h3 class="mtxlg">[Alt Carrier] Firm Mailing Address and Phone</h3>
			<fieldset>
			  <legend class="screenReader">[Alt Carrier] Firm Mailing Address and Phone</legend>
			  <div class="lblFieldPairV">
				<div class="lbl">
				  <label for="fmaddress-field1">Address Line 1<span class="required">*</span></label>
				</div>
				<div class="input">
				  <input type="text" id="fmaddress-field1" name="fmaddress-field1" class="inputxlg">
				</div>
			  </div>
			  <div class="clear"></div>
			  <div class="lblFieldPairV">
				<div class="lbl">
				  <label for="fmaddress-field2">Address Line 2</label>
				</div>
				<div class="input">
				  <input type="text" id="fmaddress-field2" name="fmaddress-field2" class="inputxlg">
				</div>
			  </div>
			  <div class="clear"></div>

			  <div class="lblFieldPairGroup">
				<div class="lblFieldPairV">
				  <div class="lbl">
					<label for="fmcity-field">City<span class="required">*</span></label>
				  </div>
				  <div class="input">
					<input type="text" class="inputlg" id="fmcity-field" name="fmcity-field">
				  </div>
				</div>
			  
				<div class="lblFieldPairV">
				  <div class="lbl">
					<label for="fmstate">State<span class="required">*</span></label>
				  </div>
				  <div class="input">
					<select name="fmstate" class="inputlg">
					  <option selected="selected" value="none">Please select...</option>
					  <option value="Alabama">Alabama</option>
					  <option value="Alaska">Alaska</option>
					  <option value="Arizona">Arizona</option>
					  <option value="Arkansas">Arkansas</option>
					  <option value="California">California</option>
					  <option value="Colorado">Colorado</option>
					  <option value="Connecticut">Connecticut</option>
					  <option value="Delaware">Delaware</option>
					  <option value="District Of Columbia">District Of Columbia</option>
					  <option value="Florida">Florida</option>
					  <option value="Georgia">Georgia</option>
					  <option value="Hawaii">Hawaii</option>
					  <option value="Idaho">Idaho</option>
					  <option value="Illinois">Illinois</option>
					  <option value="Indiana">Indiana</option>
					  <option value="Iowa">Iowa</option>
					  <option value="Kansas">Kansas</option>
					  <option value="Kentucky">Kentucky</option>
					  <option value="Louisiana">Louisiana</option>
					  <option value="Maine">Maine</option>
					  <option value="Maryland">Maryland</option>
					  <option value="Massachusetts">Massachusetts</option>
					  <option value="Michigan">Michigan</option>
					  <option value="Minnesota">Minnesota</option>
					  <option value="Mississippi">Mississippi</option>
					  <option value="Missouri">Missouri</option>
					  <option value="Montana">Montana</option>
					  <option value="Nebraska">Nebraska</option>
					  <option value="Nevada">Nevada</option>
					  <option value="New Hampshire">New Hampshire</option>
					  <option value="New Jersey">New Jersey</option>
					  <option value="New Mexico">New Mexico</option>
					  <option value="New York">New York</option>
					  <option value="North Carolina">North Carolina</option>
					  <option value="North Dakota">North Dakota</option>
					  <option value="Ohio">Ohio</option>
					  <option value="Oklahoma">Oklahoma</option>
					  <option value="Oregon">Oregon</option>
					  <option value="Pennsylvania">Pennsylvania</option>
					  <option value="Puerto Rico">Puerto Rico</option>
					  <option value="Rhode Island">Rhode Island</option>
					  <option value="South Carolina">South Carolina</option>
					  <option value="South Dakota">South Dakota</option>
					  <option value="Tennessee">Tennessee</option>
					  <option value="Texas">Texas</option>
					  <option value="Utah">Utah</option>
					  <option value="Vermont">Vermont</option>
					  <option value="Virginia">Virginia</option>
					  <option value="Virgin Islands, US">Virgin Islands, US</option>
					  <option value="Washington">Washington</option>
					  <option value="West Virginia">West Virginia</option>
					  <option value="Wisconsin">Wisconsin</option>
					  <option value="Wyoming">Wyoming</option>
					  <option value="Armed Forces America">Armed Forces America</option>
					  <option value="Armed Forces Europe">Armed Forces Europe</option>
					  <option value="Armed Forces Pacific">Armed Forces Pacific</option>
					</select>
				  </div>
				</div>
				<div class="lblFieldPairV nth">
				  <div class="lbl">
					<label for="fmzip">ZIP Code<span class="required">*</span></label>
				  </div>
				  <div class="input">
					<input type="text" id="fmzip" name="fmzip" maxlength="5" size="5" class="txtr">
				  </div>
				</div>
			  </div>
			</fieldset>

		<!-- Contact Info -->
			<fieldset>
			  <div class="lblFieldPairV">
				<div class="lbl">
				  <label for="fmphone" class="txtb">Phone<span class="required">*</span></label>
				</div>
				<div class="input">
				  <input type="text" class="inputlg" id="fmphone" name="fmphone" data-required="true" />
				</div>
			  </div>
			</fieldset>
			<div class="clear"></div>
		</div>
	</div>

      <div class="btnBar">
        <button class="btn2 transferDetailsPanelBtn" title="Next"><span>Next</span></button>
      </div>
    </div>
  </div>

  <!-- Authorization Requirements -->
  <div class="hd closed" id="authReqPanel">
    <span class="indicatorRed flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Incomplete</span>
    <h3> <a id="authRequirementsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="collapsed"><span class="icon">+</span>Authorization Requirements</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">

      <!-- <p>Default selections (based on previous product information supplied by the selected company) are marked below.<br>Please verify this information before continuing.</p> -->

      <p>Based on the carrier and product selection, some default selections have been made below.</p>
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
       

      <h3>Alt Carrier Questions</h3>
      
      <div class="clearfix">
        <div class="one_half authRequirementsForm">
          <!-- Phone Transfer -->
          <div class="lblFieldPairV mtm">
            <div class="lbl">
              <label for="custAuth" class="txtb">[Alt Carrier] What method can be used for the customer to authorize this transaction?<span class="required">*</span></label>
            </div>
            <div class="input">
              <p class="mbxs">Listed in preferred order.</p>
              <ul class="nlist">
                <li>
                  <input type="radio" id="custAuth-phone" name="custAuth" />
                  <label for="custAuth-phone">Phone authorization</label>
                </li>
                <li>
                  <input type="radio" id="custAuth-digital" name="custAuth" data-required="true" />
                  <label for="custAuth-digital">Digitally authorized form (DocuSign)</label>
                </li>
                <li>
                  <input type="radio" id="custAuth-wetSig" name="custAuth" data-required="true" />
                  <label for="custAuth-wetSig">Wet signature (paper forms)</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>

          
          
          <!-- The below 5 items are for Digital Authorization & Wet Signature scenarios -->
          <!-- What carrier forms are required? -->
          <div class="carrierForms_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">[Alt carrier] What forms are required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="carrierForms-tiaa" name="carrierForms" />
                    <label for="carrierForms-tiaa" class="txtn">TIAA Forms are accepted</label>
                  </li>
                  <li>
                    <input type="radio" id="carrierForms-alt" name="carrierForms" data-required="true" />
                    <label for="carrierForms-alt" class="txtn">Alternate carrier forms are required <span class="dim">(Default)</span></label>
                  </li>
                  <li>
                    <input type="radio" id="carrierForms-both" name="carrierForms" data-required="true" />
                    <label for="carrierForms-both" class="txtn">Both TIAA and alternate carrier forms are required</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- How long will it take for the client to receive your forms? -->
          <div class="timeUntilClientReceives_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="timeUntilClientReceives" class="txtb">[Alt carrier] How long will it take for the client to receive your forms?<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" class="inputxs" id="timeUntilClientReceives" name="timeUntilClientReceives" data-required="true" /> days
              </div>
            </div>
            <div class="clear"></div>
          </div>

          
          <!-- Rollover Third Party Forms Questions -->
          <!-- Are third party forms required? -->
          <div class="thirdParty_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="thirdParty" class="txtb">[Alt carrier] Are third party forms required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="thirdParty-yes" name="thirdParty" data-required="true" />
                    <label for="thirdParty-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" id="thirdParty-no" name="thirdParty" />
                    <label for="thirdParty-no">No</label>
                  </li>                  
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- What third party forms are required? -->
          <div class="thirdPartyForms_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="thirdPartyForms" class="txtb">[Alt Carrier] What third party forms are required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="checkbox" id="thirdPartyForms-empAuth" name="thirdPartyForms" data-required="true" />
                    <label for="thirdPartyForms-empAuth">Employer authorization</label>
                  </li>
                  <li>
                    <input type="checkbox" id="thirdPartyForms-spouseWaiver" name="thirdPartyForms" data-required="true" />
                    <label for="thirdPartyForms-spouseWaiver">Spousal waiver</label>
                  </li>
                  <li>
                    <input type="checkbox" id="thirdPartyForms-other" name="thirdPartyForms" data-required="true" />
                    <label for="thirdPartyForms-other">Other third party forms</label>
                  </li>        
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>



          <!-- Medallion Signature Guarantee (MSG) -->
          <div class="medallionSignature_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="medallionSignature" class="txtb">[Alt carrier] Is a Medallion Signature Guarantee (MSG) required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="medallionSignature-yes" name="medallionSignature" data-required="true" />
                    <label for="medallionSignature-yes">MSG is required</label>
                  </li>
                  <li>
                    <input type="radio" id="medallionSignature-no" name="medallionSignature" />
                    <label for="medallionSignature-no">MSG is NOT required</label>
                  </li>
                  <li>
                    <input type="radio" id="medallionSignature-loa" name="medallionSignature" />
                    <label for="medallionSignature-loa">MSG is NOT required, but a Wet Signed LOA is required</label>
                  </li>
                  
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- [Alt carrier] Please select a Signatory for the LOA. -->
          <div class="selectSignatory_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="selectSignatory" class="txtb">[Alt carrier] Please select a Signatory for the LOA.<span class="required">*</span></label>
              </div>
              <div class="input">
                <select id="selectSignatory">
                  <option value="">Select</option>
                  <option value="Signatory 1">Signatory 1</option>
                  <option value="Signatory 2">Signatory 2</option>
                  <option value="Signatory 3">Signatory 3</option>
                </select>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- How are forms accepted? -->
          <div class="howFormsAccepted_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">[Alt carrier] How are forms accepted by your firm?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li class="docuSignShow hidden">
                    <input type="radio" id="formsAccepted-original" name="formsAccepted" />
                    <label for="formsAccepted-original" class="txtn">Original paper via mail</label>
                  </li>
				   <li class="wetSignShow2 hidden">
                    <input type="radio" id="formsAccepted-copy2" name="formsAccepted" data-required="true" />
                    <label for="formsAccepted-copy2" class="txtn">Copy</label>
                  </li>
				   <li class="wetSignShow2 hidden">
                    <input type="radio" id="formsAccepted-fax" name="formsAccepted" data-required="true" />
                    <label for="formsAccepted-fax" class="txtn">Fax</label>
                  </li>
                  <li class="wetSignShow">
                    <input type="radio" id="formsAccepted-copy" name="formsAccepted" data-required="true" />
                    <label for="formsAccepted-copy" class="txtn">Copy  paper (wet sign) via mail</label>
                  </li>
                  <li class="digitalAuth wetSignShow">
                    <div class="fll">
                      <input type="radio" id="formsAccepted-efax" name="formsAccepted" data-required="true" />
                      <label for="formsAccepted-efax" class="txtn">eFax</label>
                    </div>
                    <div class="fll efaxNumber hidden">
                      <input type="text" id="efaxNumber" name="efaxNumber" class="inputlg mllg"  placeholder="xxx-xxx-xxxx" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>  
          
          <!-- How do you want to send the forms to the client? -->
			<div class="sendMethod_wrapper hidden">
				<div class="lblFieldPairV">
					<div class="lbl">
						<label id="sendMethod" class="txtb">How should TIAA send forms to the client?<span class="required">*</span></label>
					</div>
					<div class="input">
						<ul class="nlist">
							<li>
								<input type="radio" id="sendMethod-emailPDF" name="sendMethod" />
								<label for="sendMethod-emailPDF" class="txtn">eMail completed PDF <span class="dim">(Default)</span></label>
							</li>
							<li>
								<input type="radio" id="sendMethod-release" name="sendMethod" />
								<label for="sendMethod-release" class="txtn">Release to fulfillment</label>
							</li>
							<li>
								<input type="radio" id="sendMethod-printLocal" name="sendMethod" data-required="true" />
								<label for="sendMethod-printLocal" class="txtn">Print local</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			

          <!-- How will the forms be returned? -->
          <!-- <div class="returnMethod_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="returnMethod" class="txtb">What method will the customer use to return the forms to TIAA?<span class="required">*</span></label>
              </div>
              <div class="input">
              <p class="mbxs">Listed in preferred order.</p>
                <ul class="nlist">
                  <li>
                    <input type="radio" id="returnMethod-upload" name="returnMethod" data-required="true" />
                    <label for="returnMethod-upload" class="txtn">Upload</label>
                  </li>
                  <li>
                    <input type="radio" id="returnMethod-mail" name="returnMethod" />
                    <label for="returnMethod-mail" class="txtn">Mail</label>
                  </li>
                  <li>
                    <input type="radio" id="returnMethod-fax" name="returnMethod" />
                    <label for="returnMethod-fax" class="txtn">Fax</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div> -->


          
          <!-- The below 4 items are for ALL scenarios -->
          <!-- How will the funds be sent? -->
			<div class="howFundsSent_wrapper hidden">
				<div class="lblFieldPairV">
					<div class="lbl">
						<label>[Alt carrier] How will you send the funds?<span class="required">*</span></label>
					</div>
					<div class="input">
						<p class="mbxs">Listed in preferred order.</p>
						<ul class="nlist">
							<li>
								<input type="radio" id="fundsSent-wire" name="fundsSent" data-required="true" />
								<label for="fundsSent-wire" class="txtn">Wire transfer <!-- (All fees will be reimbursed) --></label>
							</li>
							<li>
								<input type="radio" id="fundsSent-tiaa" name="fundsSent" />
								<label for="fundsSent-tiaa" class="txtn">Check to TIAA</label>
							</li>
							<li>
								<input type="radio" id="fundsSent-client" name="fundsSent" />
								<label for="fundsSent-client" class="txtn">Check to client</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>

          

          <!-- Turnaround -->
			<div class="turnAround_wrapper hidden">
				<div class="lblFieldPairV">
					<div class="lbl">
						<label id="turnAround" class="txtb">[Alt carrier] Once your firm receives all the paperwork, how long will it take to issue the funds?<span class="required">*</span></label>
					</div>
					<div class="input">
						<input type="text" class="inputxs" id="turnAround" name="turnAround" data-required="true" /> days
					</div>
				</div>
				<div class="clear"></div>
			</div>

          <!-- Follow Up -->
			<div class="followUp_wrapper hidden">
				<div class="lblFieldPairV">
					<div class="lbl">
						<label id="followUp" class="txtb">[Alt carrier] Is the client required for any follow up conversations with your firm?<span class="required">*</span></label>
					</div>
					<div class="input">
						<ul class="nlist">
							<li>
								<input type="radio" id="followUp-yes" name="followUp" data-required="true" />
								<label for="followUp-yes" class="txtn">Yes, client is required for authorization to share information on any follow up</label>
							</li>
							<li>
								<input type="radio" id="followUp-no" name="followUp" data-required="true" />
								<label for="followUp-no" class="txtn">No, client authorization is no longer required.</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>

          <!-- howTIAASendForms -->
			<div class="tiaaSendForms_wrapper hidden">
				<h3>Client Questions</h3>
				<div class="lblFieldPairV">
					<div class="lbl">
						<label>[Client] How should TIAA send you the forms?<span class="required">*</span></label>
					</div>
					<div class="input">
						<ul class="nlist">
							<!-- <li>
								<input type="radio" id="tiaaSendForms-docusign" name="tiaaSendForms" data-required="true" />
								<label for="tiaaSendForms-docusign" class="txtn">Digitally authorized form (DocuSign)</label>
							</li>
							<li>
								<input type="radio" id="tiaaSendForms-edelivery" name="tiaaSendForms" data-required="true" />
								<label for="tiaaSendForms-edelivery" class="txtn">eDelivery</label>
							</li>
							<li>
								<input type="radio" id="tiaaSendForms-paper" name="tiaaSendForms" data-required="true" />
								<label for="tiaaSendForms-paper" class="txtn">Paper mail (Print locally)</label>
							</li> -->
							<li>
								<input type="radio" id="tiaaSendForms-paper" name="tiaaSendForms" data-required="true" />
								<label for="tiaaSendForms-paper" class="txtn">Print Local</label>
							</li>
							<li>
								<input type="radio" id="tiaaSendForms-edelivery" name="tiaaSendForms" data-required="true" />
								<label for="tiaaSendForms-edelivery" class="txtn">eDelivery</label>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>

          <!-- howTIAASendForms -->
			<div class="returnedFormsTiaa_wrapper hidden">
				<div class="lblFieldPairV">
					<div class="lbl">
						<label id="returnedFormsTiaa" class="txtb">[Client] How will the forms be returned to TIAA?<span class="required">*</span></label>
					</div>
					<div class="input">
						<ul class="nlist">
							<!-- <li>
								<input type="radio" id="returnedFormsTiaa-upload" name="returnedFormsTiaa" data-required="true" />
								<label for="returnedFormsTiaa-upload" class="txtn">Upload</label>
							</li> -->
							<li>
								<input type="radio" id="returnedFormsTiaa-mail" name="returnedFormsTiaa" data-required="true" />
								<label for="returnedFormsTiaa-mail" class="txtn">Mail</label>
							</li>
							<li class="returnedFormCopyFax">
								<input type="radio" id="returnedFormsTiaa-copy" name="returnedFormsTiaa" data-required="true" />
								<label for="returnedFormsTiaa-copy" class="txtn">Copy</label>
							</li>
							<li class="returnedFormCopyFax">
								<input type="radio" id="returnedFormsTiaa-fax" name="returnedFormsTiaa" data-required="true" />
								<label for="returnedFormsTiaa-fax" class="txtn">Fax</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>



          <!-- Address -->
          <div class="sourceContactInfo_wrapper hidden">
            <h3 class="mtxlg">Source Contact Information</h3>
            <fieldset>
              <legend class="screenReader">Enter Your Address</legend>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="address-field1">Address Line 1<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" id="address-field1" name="address-field1" class="inputxlg">
                </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="address-field2">Address Line 2</label>
                </div>
                <div class="input">
                  <input type="text" id="address-field2" name="address-field2" class="inputxlg">
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairGroup">
                <div class="lblFieldPairV">
                  <div class="lbl">
                    <label for="city-field">City<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" class="inputlg" id="city-field" name="city-field">
                  </div>
                </div>
              
                <div class="lblFieldPairV">
                  <div class="lbl">
                    <label for="State">State<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <select name="state" class="inputlg">
                      <option selected="selected" value="none">Please select...</option>
                      <option value="Maryland">Maryland</option>
                      <option value="New Hampshire">New Hampshire</option>
                      <option value="North Carolina">North Carolina</option>
                    </select>
                  </div>
                </div>
                <div class="lblFieldPairV nth">
                  <div class="lbl">
                    <label for="test-zip">ZIP Code<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" id="test-zip" name="test-zip" maxlength="5" size="5" class="txtr">
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Contact Info -->
            <fieldset>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="phone" class="txtb">Phone<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" class="inputlg" id="phone" name="phone" data-required="true" />
                </div>
              </div>
              <!-- <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="fax" class="txtb">Fax</label>
                </div>
                <div class="input">
                  <input type="text" class="inputlg" id="fax" name="fax" />
                </div>
              </div> -->
            </fieldset>
            <div class="clear"></div>
          </div>
        </div>

        <div class="one_half column_last">
          <div class="">
            <div class="shdBox pm bdr w50">
              <h3 class="nm">Form Handling Summary</h3>
              <p class="mtm">Based on the selections, this is how forms will be handled.</p>
              
              <div class="lblFieldPair">
                <div class="lbl">
                  <label>Client Authorization Requirements</label>
                </div>
                <div class="input clientAuthReqIndicator">
                  TBD
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPair">
                <div class="lbl">
                  <label>Required Forms</label>
                </div>
                <div class="input reqFormsIndicator">
                  TBD
                </div>
              </div>
              <div class="clear"></div>

               <div class="lblFieldPair">
                <div class="lbl">
                  <label>TIAA Authorization Requirements</label>
                </div>
                <div class="input tiaaAuthReqIndicator">
                  TBD
                </div>
              </div>
              <div class="clear"></div>

               <div class="lblFieldPair">
                <div class="lbl">
                  <label>Delivery Method to Carrier</label>
                </div>
                <div class="input delMethodCarierIndicator">
                  TBD
                </div>
              </div>
              <div class="clear"></div>

               <div class="lblFieldPair">
                <div class="lbl">
                  <label>Delivery Method to Client</label>
                </div>
                <div class="input delMethodClientIndicator">
                  TBD
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="btnBar">
        <button class="btn2 authRequirementsPanelBtn" title="Next"><span>Next</span></button>
      </div>
    </div>
  </div>

  <!-- Handling Instructions -->
  <div class="hd closed" id="handleInsPanel">
    <span class="indicatorRed flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Incomplete</span>
    <h3> <a id="handlingInstructionsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="collapsed"><span class="icon">+</span>Handling Instructions</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">
      
      <!-- Liquidation Options -->
      <div class="nonCDContent">
        <h4 class="mtxlg mbxs">Select the Liquidation Options<span class="required">*</span></h4>
        <ul class="nlist">
          <li>
            <input type="radio" name="wtradio" id="wtradioyes">
            <label>Liquidate the entire account immediately and transfer proceeds to TIAA.</label>
          </li>
          <li>
            <input type="radio" name="wtradio" id="wtradiono">
            <label>Liquidate only a portion of the account as detailed below and transfer proceeds to TIAA.</label>
          </li>
        </ul>
        <div class="wtradionoDiv mtm hidden">
          <div class="mbm txt16 txtb">Partial Liquidation Information</div>
          <table summary="External Rollovers or Transfers" class="styleA fw mbxlg" id="extRollTransTbl">
            <caption>
            External Rollovers or Transfers
            </caption>
            <thead>
              <tr>
                <th>Investments to be Transferred / Rolled Over</th>
                <th>Amount to Transfer</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="txtc"><a href="#addSymblPopup" class="editLink addSourceLink addSymbl txtb" id="">Add Investment</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="CDContent hidden">
        <h4>Certificate of Deposit Liqudation Options</h4>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label id="accountType" class="txtb">Maturity Date<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" id="maturityDate" name="maturityDate" class="inputDate">
          </div>
        </div>
        <div class="clear"></div>
        <ul class="nlist">
          <li>
            <input type="radio" name="wtradio" id="wtradioyes">
            <label><span class="txtb">Liquidate immediately</span> - The client is aware of and acknowledges the penalty that will incur from an early withdrawal.</label>
          </li>
          <li>
            <input type="radio" name="wtradio" id="wtradiono">
            <label><span class="txtb">Liquidate at Maturity</span> - TIAA is not liable if the client's CD term is renewed or if penalty fees are incurred as a result of the transferring/rolling over funds from a CD.</label>
          </li>
        </ul>
      </div>


      <!-- Allocation Instructions -->
      <div class="bsep"></div>
      <h4 class="mtxlg mbxs">Allocation Instructions</h4>
      <h5 class="mtm">Choose how these funds will be allocated.<span class="required">*</span></h5>
      <ul class="nlist">
        <li>
          <input type="radio" name="allocationChoice" id="allocationChoiceYes">
          <label><span class="txtb">Option 1: </span>Use the allocation instructions on file for the funds being transferred.<br>
            <em class="mlxlg plxlg">The default investment option will be used if there are no allocation instructions.</em></label>
        </li>
        <li>
          <input type="radio" name="allocationChoice" id="allocationChoiceNo">
          <label><span class="txtb">Option 2:</span> Allocate the funds in this transfer to the defualt investment option: [TIAA Bank Savings.]</label>
        </li>
      </ul>
      <div class="contributionsMadeSoFar shdBox pm bdr hw hidden">
        <h5 class="nm pbm">TIAA Bank Savings Terms & Conditions</h5>
        <p class="nm">Key features and benefits:</p>
        <ul>
          <li>Competitive interest rate</li>
          <li>FDIC insured</li>
          <li>Limit of 6 withdrawals/transfers per month</li>
        </ul>
        <p class="nm">The Client will be sent the <a href="">full Terms and Conditions</a> by mail upon investment.</p>
      </div>

      <div class="btnBar mrs prxs">
        <a href="javascript:void(0);" id="continueDetailBtn" class="btn2" title="Next"><span>Next</span></a>
      </div> 
    </div>
  </div>

</div>

<!-- Sticky Footer -->
<div class="stickyFooter">
   <div class="btnBar">
      <div class="editBtn-wrapper pllg prlg">
         <a href="#returnToFundingPopup" class="btn3" title="Return to Add Funding"><span>Return to Funding Sources</span></a>
         <a href="#removeFundingSourcePopup" class="btn3" title="Remove this Source"><span>Remove this Source</span></a>
         <a href="#saveFundingPopup" class="btn3" title="Save"><span>Save</span></a>
        <!--  <a href="fund_an_account.html" class="btn" title="Add Funding Details"><span>Add Funding Details</span></a> -->
         <button class="btn btnOff" title="Add Funding Details" id="addFundBtn"><span>Add Funding Details</span></button>
      </div>
   </div>
</div>