<!-- Add External Source starts here -->
<div id="addExtSrcPopup" class="popup" data-popup="width:450" title="Add External Source">
	<div class="body">
		<div class="mb"><span class="required">*</span>Indicates required fields</div>
		<div class="lblFieldPairV">
			<div class="lbl"><label>Company Name<span class="required">*</span></label></div>
			<div class="input">
				<select name="extComName" id="extComName" class="inputlg">
					<option value="none">Select</option>
					<option value="Vanguard">Vanguard</option>
					<option value="Option 2">Option 2</option>
				</select>
			</div>		
		</div>
		<div class="clear"></div>
		<div class="lblFieldPairV">
			<div class="lbl"><label>Transfer Amount</label></div>
			<div class="input"><input type="text" id="tckrSymblAmnt" class="inputlg" value="$1,00000.00"/></div>		
		</div>
		<div class="clear"></div>		
		<ul class="lblinline">
			<li>
			  <input type="checkbox" id="clientCheck" name="clientCheck" checked aria-labelledby="clientCheck" />
			  <label for="clientCheck">Client already has a check in hand</label>
			</li>
		</ul>					
		<div class="btnBar">
			<button class="btn btnLink closePopup mrlg" title="Cancel"><span>Cancel</span></button>
			<button class="btn" title="Add" id="addExtSrcBtn"><span>Add</span></button>			
		</div>
	</div>
</div>
<!-- Add External Source ends here -->