<!-- Popups Ram added in Sprint 13 -->

<div id="addresslookup2" class="popup closed" data-popup="width:950;height:300" title="Alt Carrier Address Look-Up">
  <div class="body">
    <div class="cm nbdr">
      <div class="bd" id="addresslookupHeight">
        <h4>Search By</h4>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""><span class="required" title="required">*</span>Alt Carrier Name</label>
            </div>
            <div class="input">
              <input type="text" id="" placeholder=""  value="Pre populated with" Other" Company Name"/>
            </div>
          </div>
          <div class="lblFieldPairV nth">
            <div class="lbl">
              <label for=""><span class="required" title="required">*</span>Zip Code</label>
            </div>
            <div class="input">
              <div class="fll">
                <input type="text" id="zipcode"  placeholder=""/>
              </div>
              <div class="fll  mllg" id="searchbtnStyle">
                <input type="button" class="btn" value="Search" id="searchbtn"/>
              </div>
            </div>
          </div>
        </div>
        <div class="bsep"> </div>
        <div id="searchresult" class="closed">
          <h4>Search Results for:</h4>
          <div class="txtb w70 fll">"Pre populated with "Other" Company Name" in "<span id="searchkw"></span>"</div>
          <div class="w30 txtr flr txtb">Results 1- 20 of 40</div>
          <div class="clear"></div>
          <table id="tbl_persons0" class="styleA fullwidth mt" summary="Table Summary">
            <caption>
            </caption>
            <thead>
              <tr>
                <th> Name </th>
                <th> Address L1 </th>
                <th> Address L2 </th>
                <th> City </th>
                <th> State </th>
                <th> Zip </th>
                <th> Actions </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Bank of Africa </td>
                <td> 16 Random St. </td>
                <td></td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Africa </td>
                <td> 16 Random St. </td>
                <td> PO. BOX 1290 </td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Africa </td>
                <td> 444 Main St. </td>
                <td></td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Africa </td>
                <td> 726 Fake St </td>
                <td></td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Africa </td>
                <td> 777 6th St. </td>
                <td></td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Boston </td>
                <td> 123 456th St </td>
                <td></td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Beantown </td>
                <td> 188 Placeholder Rd </td>
                <td></td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Beantown </td>
                <td> 188 Placeholder Rd </td>
                <td> PO Box 111 </td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
              <tr>
                <td> Bank of Zimbabwe </td>
                <td> 27 Front St. </td>
                <td></td>
                <td> Chicago </td>
                <td> IL </td>
                <td> ew </td>
                <td><a title="Actions" href="#search_menu" class="actions jq-actions"><span class="icon"></span>SELECT</a> </td>
              </tr>
            </tbody>
          </table>
          <div class="pagenaviResults pb txtr txts">Results 21-40 of 1999</div>
          <div class="pagenavi">
            <div id="paginglabel" class="screenReader">Pagination</div>
            <div class="fll">
              <label for="pageselect">Results Per Page</label>
              <select id="pageselect" name="pageselect">
                <option>100</option>
                <option>80</option>
                <option>60</option>
                <option>40</option>
                <option selected="selected">20</option>
              </select>
            </div>
            <ul role="navigation" aria-labelledby="paginglabel" class="pagingList">
              <li><a class="backLink" href="#" rel="prev">Previous <span class="icon"></span></a> </li>
              <li class="pageNav">
                <label for="gotoPage">Page</label>
                <input type="text" value="2" id="gotoPage" size="5" aria-labelledby="gotoPage ofPages" />
                <span id="ofPages">of 100</span>
                <input type="submit" value="Go" class="btn3 btnSmall ml" title="Submit" />
              </li>
              <li class="last"> <a href="#" class="nextLink" rel="next">Next <span class="icon"></span></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div data-popup="width:950" class="popup ui-dialog-content ui-widget-content" id="addresslookup" style="display: block; width: auto; min-height: 0px; max-height: none; height: auto;">
  <div class="body">  
    <h3 class="nmt">Search By</h3>
    <form id="srhLookForm" name="srhLookForm">
      <div class="alertModule" id="srhLookErrors">
        <div>
        <span class="icon"></span>
        <h4 role="alert">Error:</h4>
        <ul>
          <li id="adrCarrName-err" role="alert">Carrier Name</li>
          <li id="adrZip-err" role="alert">Please enter a Zip code to search for the Alt Carrier Address</li>       
        </ul>
        </div>
      </div>
      <div class="lblFieldPairGroup">
        <div class="lblFieldPairV">
          <div class="lbl"><label>Carrier Name<span class="required">*</span></label></div>
          <div class="input">
            <input type="text" value="" class="inputlg" id="adrCarrName" style="border: 1px solid green;">
          </div>    
        </div>    
        <div class="lblFieldPairV">
          <div class="lbl"><label>Zip Code <span class="required">*</span></label></div>
          <div class="input"><input type="text" value="" class="inputlg" id="adrZip" style="border: 1px solid green;"></div>    
        </div>
        <div class="lblFieldPairV">
          <div class="lbl">&nbsp;</div>
          <div class="input"><a id="searchBtn" title="Add" class="btn btnSmall" href="javascript:void(0);"><span>Search</span></a> </div>            
        </div>
      </div>
    </form>
    <div class="clear mb bsep"></div>
    <div class="srhResultsDiv hidden">
      <h3 class="nm">Search Results for</h3>
      <h4 class="mts nmb txt14">"<span class="adrCarrName-Txt">Vanguard</span>" in "<span class="adrZip-Txt">10024</span>"<span class="flr">Results 1- 20 of 40</span></h4>
      <div class="clear"></div>
      <div class="flexScroll max-height250">
        <table summary="Search Table" class="styleA fw">
          <caption>Search Table</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Address L1</th>
              <th>Address L2</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td>&nbsp;</td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#">Select</a></td>
            </tr>
          </tbody>
        </table>
        <div class="pagenavi cm nbdr">
          <div class="screenReader" id="paginglabel">Pagination</div>
          <div class="fll">
          <label for="pageselect">Results Per Page</label>
          <select name="pageselect" id="pageselect">
            <option>20</option>
            <option>15</option>
            <option>10</option>
            <option selected="selected">5</option>
          </select>
          </div>
          <ul class="pagingList" aria-labelledby="paginglabel" role="navigation">
          <li><a rel="prev" href="#" class="backLink">Previous <span class="icon"></span></a> </li>
          <li class="pageNav">
            <label for="gotoPage">Page</label>
            <input type="text" aria-labelledby="gotoPage ofPages" size="5" id="gotoPage" value="5">
            <span id="ofPages">of 100</span>
            <input type="submit" title="Submit" class="btn3 btnSmall ml" value="Go">
          </li>
          <li class="last"> <a rel="next" class="nextLink" href="#">Next <span class="icon"></span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div id="search_menu" class="actionsMenu">
  <ul>
    <li class="first">Action1</li>
    <li>Action2</li>
    <li>Action3</li>
  </ul>
</div>
