<section class="drop">
  <div class="cm">
    <div class="bd">



      <fieldset id="inputDetails">
        <legend class="screenReader">Source Details</legend>
        <div class="clearfix">
          <h3 class="nmt">Source Detail</h3>
          <div class="clearfix">
            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="companyNameDetail">Company Name</label>
                </div>
                <div class="input">
                  Company Name
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="productNameDetail">Product Name</label>
                </div>
                <div class="input">
                  Investment Type - View
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="investmentTypeDetail">Investment Type</label>
                </div>
                <div class="input">
                  Investment Type - View
                </div>                
              </div>
            </div>

            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="transferValueDetail">Transfer Value</label>
                </div>
                <div class="input">
                  $9,553,810.00
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
               <div class="lbl">
                  <label for="acctContractDetail">Account / Contract Number</label>
                  </div>
                <div class="input">
                  Account # - View
                </div>
              </div>              
            </div>

            <div class="one_third column_last">

              <h4 class="mbs">Letter of Acceptance</h4>
              <select id="letterOfAcceptance" class="inputxlg mblg">
                <option value="">Please select a signatory</option>
                <option value="Name 1">Name 1</option>
                <option value="Name 2">Name 2</option>
                <option value="Name 3">Name 3</option>
              </select>

              <div class="loaDoc_wrapper hidden">
                <a href="" class="txt12">Print the letter of Acceptance (LOA)</a>
                <!-- <div class="fll">
                  <div class="lbl">
                    <label class="screenReader">LOA Printed</label>
                  </div>
                  <div class="input np mts">
                    <ul class="lblinline">
                      <li>
                        <input type="checkbox" id="loaPrinted-yes" name="loaPrinted" aria-labelledby="loaPrinted" />
                        <label for="loaPrinted-yes">LOA Printed<span class="required">*</span></label>
                      </li>
                    </ul>
                  </div>
                </div> -->
                <button id="saveExitBtn" class="btn mls" title="Exit">
                  <span>Exit</span>
                </button>

                <span class="alertText loaAlertText txt14 hidden clear">Please Indicate that the LOA was printed before saving</span>
              </div>
              
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div> 
</section>

<!-- Sticky Footer -->
<!-- <div class="stickyFooter">
   <div class="btnBar">
      <div class="editBtn-wrapper pllg prlg">
         <a href="#returnToFundingPopup" class="btn3 fll" title="Return to Add Funding"><span>Return to Funding Sources</span></a>
         <a href="#removeFundingSourcePopup" class="btn3" title="Remove this Source"><span>Remove this Source</span></a>
         <a href="#saveFundingPopup" class="btn3" title="Save"><span>Save</span></a>
         <a href="fund_an_account.html" class="btn flr" title="Add Funding Details"><span>Add Funding Details</span></a>
      </div>
   </div>
</div> -->