<section class="drop">
  <div class="cm">
    <div class="bd">
      <fieldset id="inputdetailsnonGold">
      <div class="clearfix">
        <h3 class="nmt">Correspondence Request (CR) Details</h3>


        <div aria-live="assertive" role="alert" class="alertModule hidden" id="validationErrormsg">
                  <div> <span class="icon"></span>
                    <h4>Error:</h4>
                    <ul id="nongolderrmessage">
                    </ul>
                  </div>
        </div>

        <div class="successModule" aria-live="polite" role="alert" id="successModulemsg">
          <div> <span class="icon"></span> <span class="txtb"> You have successfully submitted an update to the Correspondence Request (CR). </span> </div>
          <a class="closeLink" href="#"> </a> </div>
        <div class="flr editBtn closed"><a class="nextBut btn3 btnSmall" href="#" id="editOption"><span>Edit</span></a></div>
        <div class="clear"></div>
        <div class="clearfix">
          <div class="one_third">
            <h3>Client Details</h3>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="companyNameDetail">Name</label>
              </div>
              <div class="input"> Aubrey Graham </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="productNameDetail">Address</label>
              </div>
              <div class="input">
                <div>156 Birch Lane</div>
                <div>Cambridge, MA 02140</div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="investmentTypeDetail">Phone</label>
              </div>
              <div class="input"> (617) 894-3026 </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="investmentTypeDetail">Email</label>
              </div>
              <div class="input"> agraham@drakemail.com </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="investmentTypeDetail">SSN/TIN</label>
              </div>
              <div class="input"> 012-34-5678 </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="investmentTypeDetail">PIN</label>
              </div>
              <div class="input"> 224406 </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="investmentTypeDetail">DOB</label>
              </div>
              <div class="input"> 01/01/1979 </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <h3>TIAA Contract Information</h3>
                <label for="investmentTypeDetail"> Contract Number </label>
              </div>
              <div class="input"> 99-00001 </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="investmentTypeDetail"> Plan Name</label>
              </div>
              <div class="input"> TIAA IRA - Traditional </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="one_third">
            <h3>Transfer Details</h3>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="transferValueDetail">Send funds to TIAA via wire transfer?</label>
              </div>
              <div class="input">
                <div class="classAll"> <span>
                  <input type="radio" name="transfer" value="Yes" id="yes_input" checked="checked">
                  Yes</span> <span>
                  <input type="radio" name="transfer" value="No" id="no_input">
                  No</span> </div>
                <div id="tiaaTransferval" class="closeeditVal"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="IRC Code">IRC Code</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <select id="irc_Code">
                    <option value="Select">Select</option>
                    <option value="401(a)">401(k) Retirement Plan</option>
                    <option value="401(k)" selected="">401(k)</option>
                    <option value="403(b)">403(b)</option>
                    <option value="403(b)(7)">403(b)(7)</option>
                    <option value="414(h)">414(h)</option>
                    <option value="457(b) Public">457(b) Public</option>
                    <option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
                    <option value="Keogh Money Purchase">Keogh Money Purchase</option>
                    <option value="Roth 401(k)">Roth 401(k)</option>
                    <option value="Roth IRA">Roth IRA</option>
                    <option value="Traditional IRA">Traditional IRA</option>
                    <option value="SEP IRA">SEP IRA</option>
                    <option value="Roth 403(b)">Roth 403(b)</option>
                    <option value="Roth 457(b)">Roth 457(b)</option>
                    <option value="Defined Benefit Plan">Defined Benefit Plan</option>
                  </select>
                </div>
                <div id="irc_Codeval" class="closeeditVal"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="AccountNumber">Account Number</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <input type="text" value="10000150" id="account_Number">
                </div>
                <div id="account_Numberval" class="closeeditVal"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="Amount">Amount</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <input type="text" value="$278,000.00" id="amount">
                </div>
                <div id="amountval" class="closeeditVal"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="LiquidationInstructions">Liquidation Instructions</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <div>
                    <input type="radio" name="lIquid" value="Liquidate part of the account, then transfer the funds to TIAA IRA." id="LIquid1" checked="checked">
                    Liquidate part of the account, then transfer the funds to TIAA IRA </div>
                  <div>
                    <input type="radio" name="lIquid" value="Liquidate the entire account immediately ." id="LIquid2">
                    Liquidate the entire account immediately </div>
                </div>
                <div id="liquidation_Instructionsval" class="closeeditVal"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="Allocation Instructions">Allocation Instructions</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <div>Choose how funds will be allocated in this TIAA IRA.</div>
                  <div>
                    <input type="radio" name="alloc" value="Option 1: Use the allocation instructions already on file for the funds that are being transferred." id="allocationInstructions" checked="checked">
                    <span>Option 1:</span> <span> Use the allocation instructions already on file for the funds that are being transferred.</span> </div>
                  <div>
                    <input type="radio" name="alloc" value="Option 2: Allocate the funds in this transfer to the default investment option (TIAA Bank Savings)." id="allocationInstructions">
                    <span style="txtb">Option 2:</span> <span>Allocate the funds in this transfer to the default investment option (TIAA Bank Savings).</span> </div>
                </div>
                <div id="allocationInstructionsval" class="closeeditVal"></div>
              </div>
            </div>
            <div class="clear"></div>
			
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="depositCDs">Does this account contain any Cerificates of Deposit (CDs)?</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <div> <span>
                    <input type="radio" id="cdyes_input" value="Yes" name="depositcds">
                    Yes</span> <span>
                    <input type="radio" id="cdno_input" value="No" name="depositcds" checked="checked">
                    No</span> </div>
                </div>
                <div id="depositcdval" class="closeeditVal"></div>
              </div>
            </div>
			
			
            <div class="clear"></div>
            <div class="lblFieldPairV hidden liquidatecashout">
              <div class="lbl">
                <label for="cashoutyourCD">When would you like to liquidate (cash out) your CD(s)?</label>
              </div>
              <div class="input"> 
			  
			  <div class="immmat"> 
             <input type="radio" name="cashCd" value="Immediately" id="immediately" checked="checked"><span>Immediately</span>
            
			 <input type="radio" name="cashCd" value="Wait for maturity" id="waitformaturity"><span>Wait for maturity</span>
			 </div>
			 <div id="waitfor_Maturity" class="waitformaturityCon"></div>
			 
			   </div>
            </div>
			
			
			<div class="clear"></div>
            <div class="lblFieldPairV maturitydateCd hidden">
              <div class="lbl">
                <label for="cashoutyourCD">What is the maturity date of your CD?</label>
              </div>
              <div class="input"> 
			    
    <div class="lblFieldPairV">
      <div class="lbl">
         
      </div>
      <div class="input">
              <select id="cd_maturityDate" class="inputm">
                <option value="Month">Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
      </div>
    </div>
    <div class="lblFieldPairV nth">
      <div class="lbl">
           
      </div>
      <div class="input">
          <select id="cd_Day">
                <option value="Day">Day</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select> 
          <label class="screenReader" for="zip2-test">Zip Plus 4</label>
         <select id="cd_Year">
                <option value="Year">Year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
              </select>
      </div>     
    </div>
 
			 
			   </div>
            </div>
			
			
			
            <div class="clear"></div>
            <div class="lblFieldPairV addressOpen closed">
              <div class="lbl">
                <label for="Maturity Date">Maturity Date</label>
              </div>
              <div class="input"> 12/31/2016 </div>
            </div>
          </div>
          <div class="one_third column_last">
            <h3>Alternate Carrier Details</h3>
            <div id="carrierDetails1" class="lblFieldPairV">
              <div class="lbl">
                <label for="Carrier Name">Alt Carrier Name</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <input type="text" value="Midwest Investment Trust" class="inputxlg"  id="carrierName">
                </div>
                <div id="carrierNameval" class="closeeditVal"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV addressClose">
              <div class="lbl">
                <label for="CarrierMailingAddressandPhone">Alt Carrier Mailing Address and Phone</label>
              </div>
              <div class="input"> <a href="#addresslookup">Address Lookup</a> </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV addressClose" id="carrierDetails2">
              <div class="lbl">
                <label for="addressLine1">Address Line 1<span class="required" title="required">*</span></label>
              </div>
              <div class="input">
                <div class="classAll">
                  <input type="text" value="" id="addressLine1" class="inputxlg">
                </div>
              </div>

            </div>

            <div class="lblFieldPairV addressClose" >
              <div class="lbl">
                <label for="addressLine2">Address Line 2</label>
              </div>
              <div class="input">
                <div class="classAll">
                  <input type="text" value="" id="addressLine2" class="inputxlg">
                </div>
              </div>
              </div>
              
            <div class="clear"></div>
            <div>
              <div class="lblFieldPairV addressClose">
                <div class="lbl">
                  <label for="City">City<span class="required" title="required">*</span></label>
                </div>
                <div class="input">
                  <div class="classAll">
                    <input type="text" id="city" name="City"  class="" />
                  </div>
                </div>
              </div>
              <div class="lblFieldPairV addressClose">
                <div class="lbl">
                  <label for="state-test">State<span class="required" title="required">*</span></label>
                </div>
                <div class="input">
                  <div class="classAll">
                    <select id="state_Input">
                      <option value="">&nbsp;</option>
                      <option value="Alabama">Alabama</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Arizona">Arizona</option>
                      <option value="Arkansas">Arkansas</option>
                      <option value="California">California</option>
                      <option value="Colorado">Colorado</option>
                      <option value="Connecticut">Connecticut</option>
                      <option value="Delaware">Delaware</option>
                      <option value="District Of Columbia">District Of Columbia</option>
                      <option value="Florida">Florida</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Hawaii">Hawaii</option>
                      <option value="Idaho">Idaho</option>
                      <option value="Illinois">Illinois</option>
                      <option value="Indiana">Indiana</option>
                      <option value="Iowa">Iowa</option>
                      <option value="Kansas">Kansas</option>
                      <option value="Kentucky">Kentucky</option>
                      <option value="Louisiana">Louisiana</option>
                      <option value="Maine">Maine</option>
                      <option value="Maryland">Maryland</option>
                      <option value="Massachusetts">Massachusetts</option>
                      <option value="Michigan">Michigan</option>
                      <option value="Minnesota">Minnesota</option>
                      <option value="Mississippi">Mississippi</option>
                      <option value="Missouri">Missouri</option>
                      <option value="Montana">Montana</option>
                      <option value="Nebraska">Nebraska</option>
                      <option value="Nevada">Nevada</option>
                      <option value="New Hampshire">New Hampshire</option>
                      <option value="New Jersey">New Jersey</option>
                      <option value="New Mexico">New Mexico</option>
                      <option value="New York">New York</option>
                      <option value="North Carolina">North Carolina</option>
                      <option value="North Dakota">North Dakota</option>
                      <option value="Ohio">Ohio</option>
                      <option value="Oklahoma">Oklahoma</option>
                      <option value="Oregon">Oregon</option>
                      <option value="Pennsylvania">Pennsylvania</option>
                      <option value="Puerto Rico">Puerto Rico</option>
                      <option value="Rhode Island">Rhode Island</option>
                      <option value="South Carolina">South Carolina</option>
                      <option value="South Dakota">South Dakota</option>
                      <option value="Tennessee">Tennessee</option>
                      <option value="Texas">Texas</option>
                      <option value="Utah">Utah</option>
                      <option value="Vermont">Vermont</option>
                      <option value="Virginia">Virginia</option>
                      <option value="Virgin Islands, US">Virgin Islands, US</option>
                      <option value="Washington">Washington</option>
                      <option value="West Virginia">West Virginia</option>
                      <option value="Wisconsin">Wisconsin</option>
                      <option value="Wyoming">Wyoming</option>
                      <option value="Armed Forces America">Armed Forces America</option>
                      <option value="Armed Forces Europe">Armed Forces Europe</option>
                      <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV addressClose">
                <div class="lbl">
                  <label for="zipCode">Zip Code<span class="required">*</span></label>
                </div>
                <div class="input">
                  <div class="classAll">
                    <input type="text" value="" id="zipCode">
                  </div>
                  <div id="zipCodeval" class="closeeditVal"></div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV addressOpen closed">
                <div class="lbl">
                  <label for="CarrierMailingAddressandPhone">Carrier Mailing Address</label>
                </div>
                <div class="input">
                  <div id="addressLine1val">3719 Gravois Ave.</div>
                  <div id="addressLine2val">Suite 444</div>
                  <div id="cityval">St. Louis, MO  69554</div>
                  <div id="state_Inputval">St. Louis, MO  69554</div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="Phone">Phone<span class="required phoneRequired">*</span></label>
                </div>
                <div class="input">
                  <div class="classAll">
                    <input type="text" value="" id="phone">
                  </div>
                  <div id="phoneval" class="closeeditVal"></div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      </fieldset>
      <div class="btnBar editClose"> <a class="btn btnLink mr editClose" title="Cancel" role="button"><span>Cancel</span></a> <a class="nextBut btn2 editClose" href="#" id="saveUpdates"><span>Save Updates</span></a> <a class="nextBut btn exitClose closed" href="#" id="exitBtn"><span>Exit</span></a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>
